<div *ngIf="capacities.length"><!-- class="padding-horizontal padding-bottom margin-bottom" -->
  <div class="wizard-label margin-top color-primary margin-bottom">
    <span *ngIf="[FleetSegment['POLYVALENT'], FleetSegment['SPECIFIC']].includes(capacities[0].fleetSegment)">
      {{ (capacities[0]).displayFleetSubSegment() }}
    </span>
    <span *ngIf="showSubSegmentTotal" class="color-primary-soft margin-left" style="text-transform: none">{{ allCapacities.getTotalCapacity(capacities) }}</span>
  </div>

  <div *ngIf="capacities[0].fleetSubSegment === FleetSubSegment['NONE']"class="margin-bottom"></div>

  <!-- ON REGISTER -->
  <div *ngIf="!offRegister" fxLayout="(isHandset$ | async) ? 'row' : 'column'"  fxLayoutAlign="start stretch" fxLayoutGap="16px" class="mat-card-group">
    <div *ngFor="let capacity of capacities; let i = index;" [class.fullWidth]="(isHandset$ | async)">
      <app-vessel-capacity-card [capacity]="capacity" [pointsEnabled]="pointsEnabled" [attr.data-cfr]="capacity.vessel.cfr"></app-vessel-capacity-card>
    </div>
  </div>

  <!-- OFF REGISTER -->
  <div *ngIf="offRegister">
    <div *ngFor="let capacity of capacities; let i = index;">

      <div *ngIf="capacity.proposed" fxLayout="(isHandset$ | async) ? 'row' : 'column'"  fxLayoutAlign="start stretch" fxLayoutGap="16px" class="mat-card-group">
        <!-- proposed capacity - display as a vessel card -->
        <div [class.fullWidth]="(isHandset$ | async)">
          <app-vessel-capacity-card [capacity]="capacity" [pointsEnabled]="pointsEnabled" [attr.data-cfr]="capacity.vessel.cfr"></app-vessel-capacity-card>
        </div>
      </div>

      <div *ngIf="!capacity.proposed" fxLayout="(isHandset$ | async) ? 'row' : 'column'"  fxLayoutAlign="start stretch" fxLayoutGap="16px" class="mat-card-group">
        <!-- standard off register capacity - display non-vessel specific blocks -->
        <div *ngFor="let block of capacity.blocks | orderBy : ['expiryDate']" class="capacityBlocks" [class.fullWidth]="(isHandset$ | async)">

          <div *ngIf="block.isExpiringSoon()" class="errorBanner" fxLayoutAlign="center center">
            <mat-icon class="info-icon">error_outline</mat-icon>
            <div>{{ block.expiryMessage() }}</div>
          </div>
          <mat-card #card class="margin-bottom" [@fadeInOut]="'fadeIn'">
            <mat-card-header>
                <mat-card-title>
                  <div fxFill fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                    <mat-icon>{{ block.capacityType.toUpperCase() === 'KW' ? 'speed' : 'gradient'}}</mat-icon>
                    <div>{{ block.capacityAmount }}&nbsp;<span style="text-transform: none">{{ block.capacityType }}</span></div>
                  </div>
                </mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <app-capacity-block [block]="block" [showQuotaEligibility]="capacity.hasQuotaEligibility()" [pointsEnabled]="pointsEnabled"></app-capacity-block>
            </mat-card-content>
          </mat-card>

        </div>
      </div>
    </div>
  </div>
</div>
