<div class="page">
  <app-title-bar></app-title-bar>
</div>
<div class="page center" [class.handset]="(isHandset$ | async)" [class.desktop]="!(isHandset$ | async)">

 <!--<pdf-viewer src="assets/demo/docs/LetterOfOffer.pdf"></pdf-viewer>-->
  <!--<ngx-extended-pdf-viewer [src]="'assets/demo/docs/LetterOfOffer.pdf'" backgroundColor="#ffffff"
                           [height]="'90vh'"
                           [useBrowserLocale]="true"
                           [mobileFriendlyZoom]="'true'"
                           [showZoomButtons]="true">
  </ngx-extended-pdf-viewer>-->



  <div *ngIf="user">

    <!--<h1 class="center">{{ userprofile.firstName }}, welcome back to <span [class.display-block]="(isHandset$ | async)"> {{ appComponent.title }}.</span></h1>-->
    <!--<p class="text-small">You last logged in on {{ utils.toDate(userprofile.lastLoginDate) | date: (isHandset$ | async) ? 'E, d LLL' : 'EEEE, d LLLL yyyy' }} at {{ utils.toDate(userprofile.lastLoginDate) | date: 'H:mm' }}</p>-->

    <!--
    <p class="text-small no-margin-bottom" *ngIf="notifications.length > 0 && !showSubmissions">
      You have {{ notifications.length }} unread {{ notifications.length === 1 ? 'notification' : 'notifications' }}
      <a class="margin-left-double underline hoverable" (click)="hideNotifications = !hideNotifications;">{{ hideNotifications ? 'show' : 'hide' }}</a>
      <a class="margin-left underline hoverable" routerLink="/notifications">show all</a>
    </p>
    -->

    <div *ngIf="globals.prototype">
      <div fxLayout="notifications.length > 0 ? 'column' : 'row'" fxLayoutAlign="start start">

        <div *ngIf="notifications.length > 0" class="notificationList" [class.fullWidth]="!showSubmissions">
          <div style="margin: 0 auto; width: 100%" class="center" *ngIf="!hideNotifications">
            <mat-list class="center">
              <mat-list-item class="margin-bottom" *ngFor="let notification of notifications" (click)="goToNotificationItem(notification)">
                <mat-icon matListIcon [class.actionRequired]="notification.actionRequiredText">{{notification.icon}}</mat-icon>
                <h4 mat-line class="left">{{notification.text}}
                  <!--<span *ngIf="notification.vesselName && vessels.length > 1"> for <span class="italic">{{ notification.vesselName }}</span></span>-->
                  <span *ngIf="notification.vesselName"> for <span class="italic">{{ notification.vesselName }}</span></span>
                  <span *ngIf="notification.actionRequiredText" class="italic actionRequired"> - {{ notification.actionRequiredText }}</span>
                </h4>
                <p mat-line class="text-small left italic"> {{ utils.toDate(notification.date) | date }} </p>
                <mat-icon class="hoverable margin-left">forward</mat-icon>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </div>
        </div>
      </div>
    </div>

    <!--<app-vessels embedded="true"></app-vessels>-->
    <app-feature-buttons></app-feature-buttons>

  </div>

</div>
