div {
  xbackground-image: url('../../../assets/images/AgricultureMARKMASTERStdColour050318.png');
}

mat-list-item {
  border-radius: 7px;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.submissionType {
  font-weight: bolder;
  text-transform: capitalize;
}
.submissionStatus {
  font-weight: bolder;
  text-transform: capitalize;
}

.desktop .submissionList {
  xwidth: 40%
}

.notificationList {
  xwidth: 100%;
}
.notificationList ::ng-deep .mat-list-base .mat-list-item.mat-2-line,
.notificationList ::ng-deep .mat-list-base .mat-list-item.mat-list-item-with-avatar {
  height: inherit;
}
.notificationList ::ng-deep .mat-list-base .mat-list-item .mat-list-text {
  white-space: inherit;
  overflow: inherit;
  padding-top: 16px;
  padding-bottom: 16px;
}
.notificationList ::ng-deep .mat-list-base .mat-list-item .mat-line {
  white-space: inherit;
  overflow: inherit;
}
