<div fxLayout="column" fxLayoutAlign="space-around center">

  <h1 mat-dialog-title>{{confirmationInfo.title}}</h1>

  <div mat-dialog-content>
    <div *ngIf="confirmationInfo.text" class="centered-content" [innerHTML]="confirmationInfo.text | safe: 'html'"></div>
    <div *ngIf="confirmationInfo.prompt" class="centered-content" [class.margin-top]="confirmationInfo.text !== ''" [innerHTML]="confirmationInfo.prompt | safe: 'html'"></div>
    <div class="margin-top-double">
      <mat-divider [inset]="false"></mat-divider>
    </div>
  </div>

  <div mat-dialog-actions class="margin-bottom-double">
    <button mat-raised-button [mat-dialog-close]="true">{{confirmationInfo.yesButtonText}}</button>
    <button mat-raised-button [mat-dialog-close]="false" cdkFocusInitial>{{confirmationInfo.noButtonText}}</button>
  </div>

</div>
