aw-wizard-navigation-bar.vertical {
  width: inherit !important;
}

aw-wizard-navigation-bar.vertical.large-empty-symbols ul.steps-indicator {
  padding: 5px 0px 5px 55px !important;
}

@media screen and (max-width: 960px) {
  aw-wizard-navigation-bar.horizontal ul.steps-indicator li a .label {
    transform: rotate(15deg) !important;
  }
}
@media screen and (max-width: 840px) {
  aw-wizard-navigation-bar.horizontal ul.steps-indicator li a .label {
    transform: rotate(20deg) !important;
  }
}
@media screen and (max-width: 780px) {
  aw-wizard-navigation-bar.horizontal ul.steps-indicator li a .label {
    transform: rotate(30deg) !important;
  }
}
@media screen and (max-width: 720px) {
  aw-wizard-navigation-bar.horizontal ul.steps-indicator li a .label {
    transform: rotate(45deg) !important;
  }
}



