<!-- [navBarLocation]="(isHandset$ | async) ? 'left' : 'top'" [class.handset]="(isHandset$ | async)" [class.desktop]="!(isHandset$ | async)" -->
<aw-wizard #wizard [navBarLayout]="'large-empty-symbols'" [navBarLocation]="(isHandset$ | async) ? 'left' : 'top'" [class.handset]="(isHandset$ | async)" [class.desktop]="!(isHandset$ | async)">

  <!-- *ngIf="!licenceApplication.refId" [canEnter]="!licenceApplication.refId" -->
  <aw-wizard-step
                  [stepTitle]="!(isHandset$ | async) ? 'Preliminary Information' : ''" [navigationSymbol]="{ symbol: '&#xf011;', fontFamily: 'FontAwesome' }">
    <div class="centered-content">
      <app-la-preliminary-info [licenceApplication]="licenceApplication"></app-la-preliminary-info>
      <div class="margin-top-double">
        <mat-divider></mat-divider>
        <mat-card-actions class="margin-top">
          <button mat-raised-button awNextStep *ngIf="!licenceApplication.refId" >SUBMIT</button>
          <button mat-raised-button awNextStep *ngIf="licenceApplication.refId">NEXT</button>
        </mat-card-actions>
      </div>
    </div>
  </aw-wizard-step>

  <aw-wizard-step [stepTitle]="!(isHandset$ | async) ? 'Letter of Offer' : ''" [navigationSymbol]="{ symbol: '&#xf016;', fontFamily: 'FontAwesome' }"
                  (stepEnter)="setActiveView(this, $event)">
    <div class="centered-content">
      <app-la-letter-of-offer [licenceApplication]="licenceApplication" [isActiveView]="advancingToLetterOfOffer"></app-la-letter-of-offer>
      <div class="margin-top-double">
        <mat-divider></mat-divider>
        <mat-card-actions class="margin-top">
          <button mat-raised-button awPreviousStep>
            PREVIOUS
          </button>
          <button mat-raised-button awNextStep *ngIf="licenceApplication.letterOfOfferIssued && !licenceApplication.activeApplicant.letterOfOfferTermsAcceptedDate && !licenceApplication.activeApplicant.hasRejectedLetterOfOfferTerms"
            [disabled]="!licenceApplication.activeApplicant.hasAcceptedLetterOfOfferTerms" (click)="setLetterOfOfferTermsAcceptedDate()">
            SUBMIT
          </button>
          <button mat-raised-button (click)="confirmLetterOfOfferTermsRejection()"
                  *ngIf="licenceApplication.letterOfOfferIssued && !licenceApplication.activeApplicant.letterOfOfferTermsAcceptedDate && !licenceApplication.activeApplicant.hasRejectedLetterOfOfferTerms"
                  [disabled]="licenceApplication.activeApplicant.hasAcceptedLetterOfOfferTerms">
            REJECT
          </button>
          <button mat-raised-button awNextStep *ngIf="licenceApplication.activeApplicant.letterOfOfferTermsAcceptedDate">
            NEXT
          </button>
        </mat-card-actions>
      </div>
    </div>
  </aw-wizard-step>

  <aw-wizard-step [stepTitle]="!(isHandset$ | async) ? 'Conditions' : ''" [navigationSymbol]="{ symbol: '&#xf03a;', fontFamily: 'FontAwesome' }">
    <div class="centered-content">
      <app-la-documentation [licenceApplication]="licenceApplication"></app-la-documentation>
      <div class="margin-top-double">
        <mat-divider></mat-divider>
        <mat-card-actions class="margin-top">
          <button mat-raised-button awPreviousStep>PREVIOUS</button>
          <button mat-raised-button awNextStep>NEXT</button>
        </mat-card-actions>
      </div>
    </div>
  </aw-wizard-step>

  <aw-wizard-step [stepTitle]="!(isHandset$ | async) ? 'Capacity' : ''" [navigationSymbol]="{ symbol: '&#xf21a;', fontFamily: 'FontAwesome' }">
    <div class="centered-content">
      <app-la-capacity [licenceApplication]="licenceApplication"></app-la-capacity>
      <div class="margin-top-double">
        <mat-divider></mat-divider>
        <mat-card-actions class="margin-top">
          <button mat-raised-button awPreviousStep>PREVIOUS</button>
          <button mat-raised-button awNextStep>NEXT</button>
        </mat-card-actions>
      </div>
    </div>
  </aw-wizard-step>

  <aw-wizard-step [stepTitle]="!(isHandset$ | async) ? 'Registration' : ''" [navigationSymbol]="{ symbol: '&#xf00c;', fontFamily: 'FontAwesome' }">
    <div class="centered-content page">
      <div class="page">
        Registration
      </div>
      <div class="margin-top-double">
        <mat-divider class="margin-top-double"></mat-divider>
        <mat-card-actions class="margin-top">
          <button mat-raised-button awPreviousStep>PREVIOUS</button>
          <button mat-raised-button awNextStep>NEXT</button>
          <!--
          <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
          <button type="button" class="btn btn-secondary" awResetWizard>Reset</button>
          -->
        </mat-card-actions>
      </div>
    </div>
  </aw-wizard-step>
</aw-wizard>

