<!--
<mat-card class="hoverable" routerLink="/notifications">
  <mat-card-header fxLayoutAlign="center center">
    <mat-card-title>
      <div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
          <mat-icon>mail</mat-icon>
          <div>My Inbox</div>
        </div>
      </div>
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Unread Messages, Notifications, Action Requests
  </mat-card-content>
</mat-card>
-->

<mat-card class="hoverable" routerLink="/vessels" [attr.data-button]="'VESSELS'">
  <mat-card-header fxLayoutAlign="center center">
    <mat-card-title>
      <div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
          <mat-icon>directions_boat</mat-icon>
          <div>My Vessels</div>
        </div>
      </div>
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Vessel Details, Licence, Authorisations, Log Sheets, Owners, Gear, Provenance
  </mat-card-content>
</mat-card>

<mat-card class="hoverable" routerLink="/capacity" [state]="{title: 'My Capacity'}" [attr.data-button]="'CAPACITY'">
  <mat-card-header fxLayoutAlign="center center">
    <mat-card-title>
      <div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
          <mat-icon>toys</mat-icon>
          <div>My Capacity</div>
        </div>
      </div>
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    On Register, Off Register, Proposed, Track Record, Penalty Points
  </mat-card-content>
</mat-card>

<mat-card class="hoverable" routerLink="/licences" [attr.data-button]="'APPLICATIONS'">
  <mat-card-header fxLayoutAlign="center center">
    <mat-card-title>
      <div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
          <mat-icon>library_books</mat-icon>
          <div>My Applications</div>
        </div>
      </div>
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Create, Retrieve and List Sea Fishing Boat Licence Applications
  </mat-card-content>
</mat-card>
