<div class="page" [class.handset]="(isHandset$ | async)" [class.desktop]="!(isHandset$ | async)">
  <h2><mat-icon matListIcon alt="Log Sheets" style="position: relative; top: 4px; margin-right: 8px;">date_range</mat-icon>Log Sheets <span class="margin-left" style="position: relative; top: -4px"></span></h2>
  <!-- for some reason calendar_today renders incorrectly on the right of the text -->

TODO: Select Vessel for which to view log sheets
  or display log sheets for the vessel clicked on from the My Vessels list

</div>
