<div [class.page]="standAlonePage" [class.readonly]="readonly" [class.handset]="(isHandset$ | async)" [class.desktop]="!(isHandset$ | async)">

  <app-la-header *ngIf="standAlonePage"></app-la-header>

  <div class="max-width-centered-content">

    <div class="fullWidth">

      <form [formGroup]="form">
        <div *ngIf="standAlonePage" class="wizard-label margin-bottom">PRELIMINARY INFORMATION</div>
        <div *ngIf="displayHelpText" class="margin-bottom">
          This is the Preliminary Information you entered in your <span class="bold">Sea Fishing Boat Licence Application</span>.
          On the basis of these entries a Letter of Offer was issued.
          If a correction is required you should reject the Letter of Offer in the next step and start a new Licence Application.
        </div>
        <div *ngIf="!displayHelpText" class="helpCursor" [class.margin-bottom-half]="(isHandset$ | async)" [class.margin-bottom]="!(isHandset$ | async)">
          <div fxFill fxLayout="row" fxLayoutAlign="space-around center">
            <div class="helpLink" (click)="openBottomSheet()">Why do I need to review this?</div>
          </div>
        </div>

        <!-- mat-elevation-z8 padding-vertical -->
        <div fxLayout="column" fxLayoutAlign="start center" class="form-field-icons" [style.width]="(isHandset$ | async) ? null : '75%'" [style.margin]="(isHandset$ | async) ? null : 'auto'">

          <!-- Fleet Segment -->
          <div *ngIf="readonly" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon fxLayoutAlign="space-between start" alt="Fleet Segment">public</mat-icon>
            <mat-form-field>
              <input matInput placeholder="Fleet Segment" number value="{{ FleetSegmentManager.displayFleetSubSegment(licenceApplication.preliminaryInformation.fleetSegment) }}" readonly>
            </mat-form-field>
          </div>

          <!-- LOA and Registered Length -->
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon alt="Name">settings_ethernet</mat-icon>
            <div class="inline">
              <mat-form-field [style.width]="'50px'">
                <input matInput placeholder="LOA" number [formControl]="form.controls.loa" (focus)="errorMessage = ''" [readonly]="readonly ? readonly : null">
                <mat-error *ngIf="!readonly">* Required</mat-error>
              </mat-form-field>
              <mat-form-field [style.width]="'170px'">
                <input matInput placeholder="Registered Length" number [formControl]="form.controls.registeredLength" (focus)="errorMessage = ''" [readonly]="readonly ? readonly : null">
                <mat-error *ngIf="!readonly">* Required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- Applicant Type -->
          <div *ngIf="readonly" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon fxLayoutAlign="space-between start" alt="Applicant Type">supervised_user_circle</mat-icon>
            <mat-form-field>
              <input matInput placeholder="Applicant Type" number value="{{ApplicantType[licenceApplication.preliminaryInformation.applicantType]}}" readonly>
            </mat-form-field>
          </div>

          <!-- Name (readonly) -->
          <div *ngIf="readonly" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon fxLayoutAlign="space-between start" alt="First Name">face</mat-icon>
            <mat-form-field>
              <input matInput placeholder="Name" number value="{{form.controls.firstName.value}} {{form.controls.lastName.value}}" readonly>
            </mat-form-field>
          </div>

          <!-- First Name -->
          <div *ngIf="!readonly" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon fxLayoutAlign="space-between start" alt="First Name">face</mat-icon>
            <mat-form-field>
              <input matInput placeholder="First Name" number [formControl]="form.controls.firstName" (focus)="errorMessage = ''">
              <mat-error *ngIf="!readonly">* Required</mat-error>
            </mat-form-field>
          </div>

          <!-- Last Name -->
          <div *ngIf="!readonly" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon fxLayoutAlign="space-between start" alt="Last Name"></mat-icon>
            <mat-form-field>
              <input matInput placeholder="Last Name" number [formControl]="form.controls.lastName" (focus)="errorMessage = ''">
              <mat-error>* Required</mat-error>
            </mat-form-field>
          </div>

          <!-- Email -->
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon fxLayoutAlign="space-between start" alt="Name">email</mat-icon>
            <mat-form-field>
              <input matInput placeholder="Email" number [formControl]="form.controls.email" (focus)="errorMessage = ''" [readonly]="readonly ? readonly : null">
              <mat-error *ngIf="!readonly">* Required</mat-error>
            </mat-form-field>
          </div>

          <div *ngIf="form.controls.applicantType === ApplicantType.PARTNERSHIP">
            <div>Other Partners</div>
          </div>

        </div>
      </form>

      <!-- DMcD: IMPORTANT - these buttons must be outside the form tag, otherwise clicking the cancel button reloads the webpage -->
      <div *ngIf="!embedded" class="margin-bottom-double">
        <div class="margin-top">
          <mat-divider [inset]="false"></mat-divider>
        </div>
        <div class="fullWidth" [class.margin-top-double]="standAlonePage" [class.margin-top]="!standAlonePage">
          <div fxFill fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="16px">
            <button mat-raised-button [class.fullWidth]="(isHandset$ | async)"
                    (click)="back.emit(licenceApplication)" [disabled]="licenceApplication.letterOfOffer.status === LetterOfOfferStatus['ACCEPTED']">
              BACK
            </button>
            <button mat-raised-button [class.fullWidth]="(isHandset$ | async)" [disabled]="(!readonly && !form.valid) ? true : null"
                    (click)="next.emit(licenceApplication)">
              NEXT
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="errorMessage" [@fadeInOut]="'fadeIn'" class="errorBanner margin-vertical" fxLayoutAlign="start center">
        <mat-icon class="info-icon">error_outline</mat-icon>
        <div>{{ errorMessage }}</div>
      </div>

    </div>
  </div>

</div>
