<div class="page">

  <div *ngIf="(isHandset$ | async)" class="wizard-label">Preliminary Information</div>

  <div class="margin-top" fxLayout="column">

    <!--
    <mat-form-field [class.readonly-wrapper]="readonly">
      <input matInput placeholder="Vessel Name" reguired [disabled]="readonly ? readonly : null" [value]="licenceApplication.vesselName_prelim">
    </mat-form-field>
-->
    <mat-form-field [class.readonly-wrapper]="readonly">
      <mat-label>Segment</mat-label>
      <mat-select [formControl]="segmentControl" required [disabled]="readonly ? true : null">
        <mat-optgroup *ngFor="let group of segmentGroups" [label]="group.name"
                      [disabled]="group.disabled">
          <mat-option *ngFor="let segment of group.segment" [value]="segment.value">
            {{ segment.viewValue }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-error *ngIf="segmentControl.hasError('required')">Please choose a segment</mat-error>
      <!--<mat-hint>{{segmentControl.value?.sound}}</mat-hint>-->
    </mat-form-field>

    <mat-form-field [class.readonly-wrapper]="readonly">
      <mat-label>LOA</mat-label>
      <mat-select [formControl]="loaControl" required [disabled]="readonly ? true : null">
        <mat-option *ngFor="let loa of loas" [value]="loa.value">
          {{loa.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div [class.left]="(isHandset$ | async)" [class.centered-content]="!(isHandset$ | async)">
      <div *ngIf="this.licenceApplication.applicants.length > 0" class="wizard-label margin-top-double margin-bottom"
           [class.centered-content]="!(isHandset$ | async)">
        APPLICANTS AND SHARE ALLOCATION
      </div>
      <table mat-table [dataSource]="licenceApplication.applicants"
             class="shareAllocationTable" [class.left]="(isHandset$ | async)" [class.centered-content]="!(isHandset$ | async)">
        <ng-container matColumnDef="userReferenceNumber">
          <th mat-header-cell *matHeaderCellDef [@flyInOut]="'in'">User Ref No.</th>
          <td mat-cell *matCellDef="let applicant; let i=index;" [@flyInOut]="'in'">
            <div *ngIf="applicant.userReferenceNumber">{{ applicant.userReferenceNumber }}</div>

            <div *ngIf="!applicant.userReferenceNumber" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <div>
                <mat-form-field>
                  <input matInput #userRefNo type="text" placeholder="User Ref No." reguired>
                </mat-form-field>
              </div>
              <div>
                <button mat-raised-button mat-icon-button (click)="findApplicant(userRefNo.value, i)" [disabled]="readonly || userRefNo.value === '' ? true : null">
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef [@flyInOut]="'in'">Applicant</th><!-- Applicant Name -->
          <td mat-cell *matCellDef="let applicant; let i=index;" [@flyInOut]="'in'" class="left">
            <!--<div *ngIf="applicant.userReferenceNumber && !applicant.id">
              {{ applicant.id ? applicant.fullName : ''}}
            </div>-->
            <div *ngIf="applicant.userReferenceNumber && applicant.id">
              <button mat-stroked-button class="transparent" (click)="popupApplicantInfo(applicant)">
                {{ applicant.fullName }}
              </button>
            </div>
            <div *ngIf="!applicant.userReferenceNumber" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <mat-form-field class="userReferenceNumber">
                <input matInput #userRefNo type="text" placeholder="User Ref No." reguired>
              </mat-form-field>

              <button mat-raised-button mat-icon-button (click)="findApplicant(userRefNo.value, i)" [disabled]="readonly || userRefNo.value === '' ? true : null">
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </td>
          <td mat-footer-cell *matFooterCellDef [@flyInOut]="'in'">
            <div class="left" *ngIf="!readonly">
              <button mat-raised-button (click)="addApplicant()">
                <mat-icon>add_circle_outline</mat-icon>
                APPLICANT
              </button>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="numberOfShares">
          <th mat-header-cell *matHeaderCellDef [@flyInOut]="'in'">#&nbsp;Shares</th>
          <td mat-cell *matCellDef="let applicant;" [@flyInOut]="'in'">
            <mat-form-field>
              <input matInput #shares type="number" min="0" max="64" reguired [(ngModel)]="applicant.numberOfShares"
                     [ngModelOptions]="{standalone: true}" [disabled]="readonly || !applicant.id ? true : null">
              <mat-hint align="start" *ngIf="shares.value > 64" class="error">Maximum Allocation is 64 Shares</mat-hint>
              <!--<mat-hint align="end" [class.error]="shares.value > 64">{{shares.value}} / 64</mat-hint>-->
            </mat-form-field>
          </td>
          <td mat-footer-cell *matFooterCellDef [@flyInOut]="'in'" [class.error]="countSharesAllocated() !== 64">
            # {{ countSharesAllocated() }} / 64
          </td>
        </ng-container>
        <ng-container matColumnDef="commands">
          <th mat-header-cell *matHeaderCellDef [@flyInOut]="'in'"></th>
          <td mat-cell *matCellDef="let applicant; let i=index" [@flyInOut]="'in'">
            <div *ngIf="!readonly" class="left margin-left-double">
              <button mat-raised-button mat-icon-button (click)="deleteApplicant(i)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </td>
          <td mat-footer-cell *matFooterCellDef [@flyInOut]="'in'"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" [@flyInOut]="'in'"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </div>

  </div>
</div>
