<!--
https://en.wikipedia.org/wiki/Ship_measurements
https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/268868/mgn489-amendment-pleasure-vessels.pdf
 -->

<div class="page padding-bottom-double light-green-background dafm-green max-width-centered-content">
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
    <h1 class="margin-bottom color-primary">VESSEL LENGTH</h1>
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
      <div class="card-data">
        The length of a vessel may be measured in several ways:
      </div>
      <img width="280"
           alt="Vessel Length"
           src="assets/images/vessel-length/300px-LOA-LWL.svg.png"/>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div fxFlexAlign="start">
          <div class="card-data-header">Length Overall (LOA)</div>
          <div class="card-data">
            The maximum length of a vessel's hull measured parallel to the waterline. This length is important while docking the ship.
            It is the most commonly used way of expressing the size of a ship, and is also used for calculating the cost of a marina berth.
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div fxFlexAlign="start">
          <div class="card-data-header">Waterline Length (LWL)</div>
          <div class="card-data">
            The length of a vessel at the level where it sits in the water (the waterline).
            The LWL will be shorter than the length of the vessel overall (LOA) as most vessels have bows and stern and stern protrusions
            that make the LOA greater than the LWL. As a vessel becomes more loaded, it will sit lower
            in the water and its ambient waterline length may change; but the registered LWL it is measured from a default load condition.
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div fxFlexAlign="start">
          <div class="card-data-header">Registered Length</div>
          <div class="card-data">
            In relation to a registered ship means registered length, and in relation to an
            unregistered ship means the length from the fore part of the stem to the aft side of the
            head of the stern post or, if no stern post is fitted to take the rudder, to the fore side of
            the rudder stock at the point where the rudder passes out of the hull.
          </div>
        </div>
      </div>
    </div>
    <app-divider xstyle="width: 50%"></app-divider>
  </div>
</div>
