<app-bottomsheet-close-icon></app-bottomsheet-close-icon>
<div class="page padding-bottom-double light-green-background dafm-green max-width-centered-content">
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
    <h1 class="margin-bottom color-primary">ACTIVATE LICENCE APPLICATION</h1>
    <div>
      You must accept the conditions of the Letter of Offer within 30 days otherwise your Preliminary Application
      will be automatically revoked.
    </div>
    <div class="br">
      Accepting the conditions of the Letter of Offer will activate your <span class="bold">Sea Fishing Boat Licence Application</span>.
      The application will be linked to your account and listed in <span class="bold">My Applications</span>
      (the ARN and PIN are no longer needed to retrieve the application).
    </div>
    <div class="br">
      You will then have one year to comply with the conditions of the Letter of Offer in order to be issued your licence.
    </div>
    <app-divider xstyle="width: 50%"></app-divider>
  </div>
</div>
