<div id='top' [class.page]="standAlonePage" [class.handset]="(isHandset$ | async)" [class.desktop]="!(isHandset$ | async)">

  <app-la-header *ngIf="standAlonePage"></app-la-header>

  <div class="fullWidth" [@flyInOut]="'in'">

    <!--
    <div *ngIf="continueApplicationFlow" class="margin-bottom text-small max-width-centered-content">
      <mat-checkbox [(ngModel)]="userLoggedIn">UX Option: User has already logged in?</mat-checkbox>
    </div>
    -->

    <div class="margin-top max-width-centered-content">

      <div class="margin-top dafm-green margin-left-half">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <div class="left">
              <img width="60"
                   alt="Government of Ireland"
                   src="assets/images/logos/harp_with_rhs_green_divider.png"/>
            </div>
            <div [class.text-small]="(isHandset$ | async)">
              A Letter of Offer for a <span class="bold">Sea Fishing Boat Licence</span> has been issued to
              <div class="margin-top-half">
                {{ licenceApplication.preliminaryInformation.primaryApplicant.firstName }} {{ licenceApplication.preliminaryInformation.primaryApplicant.lastName }}
              </div>
              <div *ngIf="licenceApplication.preliminaryInformation.applicantType == ApplicantType['COMPANY']">
                representing the company <span class="italic">{{ licenceApplication.preliminaryInformation.companyName }}</span>
              </div>
              <div *ngIf="licenceApplication.preliminaryInformation.applicantType == ApplicantType['PARTNERSHIP']">
                representing the partnership <span class="italic">{{ licenceApplication.preliminaryInformation.partnershipName }}</span>
              </div>
              <div class="margin-top-half">
                for a vessel with an <span class="helpLinkWithinText" (click)="openVesselLengthBottomSheet()">LOA</span> of {{ licenceApplication.preliminaryInformation.loa }}m
              </div>
              <div class="br">
                in the {{ FleetSegmentManager.displayFleetSubSegment(licenceApplication.preliminaryInformation.fleetSegment) }} <span class="helpLinkWithinText" (click)="openFleetSegmentBottomSheet()">segment</span>
              </div>
            </div>
          </div>
        </div>
        <app-divider [fullWidth]="true"></app-divider>
      </div>

      <!-- CONDITIONS HAVE NOT BEEN ACCEPTED YET -->
      <div *ngIf="licenceApplication.letterOfOffer.status === LetterOfOfferStatus['PENDING']">

        <div fxLayout="column" fxLayoutAlign="start center" class="form-field-icons">

          <div class="fullWidth margin-top">
            <div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
              <button mat-raised-button [class.fullWidth]="(isHandset$ | async)" (click)="showLetterOfOffer = !showLetterOfOffer">
                {{ showLetterOfOffer ? 'HIDE YOUR LETTER OF OFFER' : 'VIEW YOUR LETTER OF OFFER' }}
              </button>
              <!--
              <button mat-raised-button [class.fullWidth]="(isHandset$ | async)"(click)="showTerms = !showTerms">
                {{ showTerms ? 'HIDE CONDITIONS' : 'VIEW CONDITIONS' }}
                <mat-icon class="chevron_vert">{{!showTerms  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
              </button>
              -->
            </div>
          </div>

          <!-- https://www.npmjs.com/package/ng2-pdfjs-viewer -->
          <!-- https://ng2-pdfjs-viewer.azurewebsites.net -->
          <div class="fullWidth pdfViewer margin-top" *ngIf="showLetterOfOffer" [@fadeInOut]="'fadeIn'">
            <ng2-pdfjs-viewer
              #pdfViewerOnDemand
              [pdfSrc]="'LetterOfOffer.pdf'">
            </ng2-pdfjs-viewer>
          </div>

          <div *ngIf="showTerms" [@fadeInOut]="'fadeIn'">
            <div class="centered-content margin-top-double wizard-label">YOUR LETTER OF OFFER IS SUBJECT TO THE FOLLOWING CONDITIONS</div>
            <div class="page letterOfOfferTerms mat-elevation-z8" >
              <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="16px" >
                <div *ngFor="let loaTerm of licenceApplication.letterOfOffer.terms" fxLayout="row" fxLayoutGap="16px">
                  <div fxFlexAlign="start">{{ utils.decimalToRoman(loaTerm.id) }})</div>
                  <div fxFlexAlign="start" class="left">{{loaTerm.text}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="dafm-green" [class.margin-top-double]="!showTerms" [class.margin-top]="showTerms">
            <span>You must accept the conditions of your </span>
            <!-- and thereby <span class="helpLinkWithinText" (click)="openActivateApplicationBottomSheet()">activate</span> your application -->
            <span [class.br]="(isHandset$ | async)">Letter of Offer on or before <span class="bold">{{ licenceApplication.letterOfOffer.expiryDate }}</span></span>
          </div>

          <div *ngIf="enableDisplayOfPreliminaryInformation" class="fullWidth margin-vertical">
            <div fxFill fxLayout="row" fxLayoutAlign="center start">
              <button mat-raised-button [class.fullWidth]="(isHandset$ | async)" (click)="showPreliminaryInformation = !showPreliminaryInformation">
                {{ showPreliminaryInformation ? 'HIDE LICENSING INFORMATION' : 'VIEW LICENSING INFORMATION' }}
                <mat-icon class="chevron_vert">{{!showTerms  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
              </button>
            </div>
          </div>
          <div *ngIf="showPreliminaryInformation" [@fadeInOut]="'fadeIn'">
            <div class="centered-content margin-top wizard-label">LICENSING INFORMATION</div>
            <div class="page letterOfOfferTerms mat-elevation-z8" >
              <app-la-preliminary-info-simple [readonly]="true" [embedded]="true" [displayContextHelp]="false" [licenceApplication]="licenceApplication"></app-la-preliminary-info-simple>
            </div>
          </div>

          <div *ngIf="continueApplicationFlow && !userLoggedIn; else acceptTermsCheckBox" class="margin-top">
            <div class="dafm-green">
              You must <span class="helpLinkWithinText bold" (click)="login()">login</span> to accept the conditions of your Letter of Offer.
              <span *ngIf="licenceApplication.arn && licenceApplication.pin" [class.br]="!(isHandset$ | async)">
                Alternatively, you may retrieve this application at a later time using your
                <div class="bold margin-top">Application Reference Number: {{ licenceApplication.arn }}</div>
                <div class="br">and</div>
                <div class="bold br">PIN: {{ licenceApplication.pin }}</div>
              </span>
              <div class="margin-top italic text-small">
                (The Letter of Offer, ARN and PIN have been emailed to {{ licenceApplication.preliminaryInformation.primaryApplicant.email }})
              </div>
            </div>
          </div>
          <ng-template #acceptTermsCheckBox>
            <mat-checkbox [(ngModel)]="termsAccepted" [ngModelOptions]="{standalone: true}" class="margin-top">
              <span>By ticking this box, I accept the <span [class.br]="(isHandset$ | async)">conditions of the Letter of Offer</span></span>
            </mat-checkbox>
          </ng-template>

        </div>

        <div class="margin-top">
          <mat-divider [inset]="false"></mat-divider>
        </div>
        <div class="fullWidth margin-top">
          <div *ngIf="(continueApplicationFlow && !userLoggedIn); then NotLoggedInButtons else loggedInButtons"></div>
          <ng-template #NotLoggedInButtons>
            <div fxFill fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="16px">
              <!-- User not logged in -->
              <button mat-raised-button [class.fullWidth]="(isHandset$ | async)" routerLink="/login">
                LOGIN
              </button>
              <button mat-raised-button [class.fullWidth]="(isHandset$ | async)" (click)="rejectLetterOfOffer()">
                WITHDRAW
              </button>
              <button mat-raised-button [class.fullWidth]="(isHandset$ | async)" routerLink="/licences">
                HOME
              </button>
            </div>
          </ng-template>
          <ng-template #loggedInButtons>
            <div fxFill fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="16px">
              <!-- User is logged in -->
              <button mat-raised-button [class.fullWidth]="(isHandset$ | async)"
                      (click)="back.emit(licenceApplication)"
                      [disabled]="continueApplicationFlow">
                BACK
              </button>
              <button mat-raised-button [class.fullWidth]="(isHandset$ | async)" (click)="rejectLetterOfOffer()" [disabled]="termsAccepted">
                WITHDRAW
              </button>
              <button mat-raised-button [class.fullWidth]="(isHandset$ | async)" (click)="acceptLetterOfOffer()" [disabled]="!termsAccepted">
                SUBMIT
              </button>
            </div>
          </ng-template>
        </div>

        <div *ngIf="errorMessage" [@fadeInOut]="'fadeIn'" class="errorBanner margin-vertical" fxLayoutAlign="start center">
          <mat-icon class="info-icon">error_outline</mat-icon>
          <div>{{ errorMessage }}</div>
        </div>

      </div> <!-- END CONDITIONS NOT ACCEPTED YET -->

      <!-- CONDITIONS HAVE BEEN ACCEPTED -->
      <div *ngIf="licenceApplication.letterOfOffer.status === LetterOfOfferStatus['ACCEPTED']" class="margin-top max-width-centered-content">

        <div fxLayout="column" fxLayoutAlign="start center" class="form-field-icons">

          <div class="fullWidth margin-top">
            <div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
              <button mat-raised-button [class.fullWidth]="(isHandset$ | async)" (click)="showLetterOfOffer = !showLetterOfOffer">
                {{ showLetterOfOffer ? 'HIDE YOUR LETTER OF OFFER' : 'VIEW YOUR LETTER OF OFFER' }}
              </button>
              <!--
              <button mat-raised-button [class.fullWidth]="(isHandset$ | async)" (click)="showTerms = !showTerms">
                {{ showTerms ? 'HIDE CONDITIONS' : 'VIEW CONDITIONS' }}
                <mat-icon class="chevron_vert">{{!showTerms  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
              </button>
              -->
            </div>
          </div>

          <!-- https://www.npmjs.com/package/ng2-pdfjs-viewer -->
          <!-- https://ng2-pdfjs-viewer.azurewebsites.net -->
          <div class="fullWidth pdfViewer margin-top" *ngIf="showLetterOfOffer" [@fadeInOut]="'fadeIn'">
            <ng2-pdfjs-viewer
              #pdfViewerOnDemand
              [pdfSrc]="'LetterOfOffer.pdf'">
            </ng2-pdfjs-viewer>
          </div>

          <div *ngIf="showTerms" [@fadeInOut]="'fadeIn'">
            <div class="centered-content margin-top-double wizard-label">YOUR LETTER OF OFFER IS SUBJECT TO THE FOLLOWING CONDITIONS</div>
            <div class="page letterOfOfferTerms mat-elevation-z8" >
              <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="16px" >
                <div *ngFor="let loaTerm of licenceApplication.letterOfOffer.terms" fxLayout="row" fxLayoutGap="16px">
                  <div fxFlexAlign="start">{{ utils.decimalToRoman(loaTerm.id) }})</div>
                  <div fxFlexAlign="start" class="left">{{loaTerm.text}}</div>
                </div>
              </div>
            </div>
          </div>

          <div [class.margin-top-double]="!showTerms" [class.margin-top]="showTerms" class="dafm-green">
            <span>
              <!-- TODO: if the acceptor is the logged in your, say 'You accepted the conditions...' rather than 'John Murphy accepted the conditions...' -->
              <!--{{ licenceApplication.letterOfOffer.acceptedBy.firstName }} {{ licenceApplication.letterOfOffer.acceptedBy.lastName }}-->
              <span [class.br]="(isHandset$ | async)">You accepted the conditions of </span>
              <span [class.br]="(isHandset$ | async)">your Letter of Offer on {{ licenceApplication.letterOfOffer.acceptedDate }}</span>
            </span>
          </div>

          <!--
          <div class="margin-top margin-bottom bold dafm-green">
            You must comply with the conditions of your Letter of Offer on or before {{ licenceApplication.expiryDate }}
          </div>
          -->

          <div *ngIf="enableDisplayOfPreliminaryInformation" class="fullWidth margin-vertical">
            <div fxFill fxLayout="row" fxLayoutAlign="center start">
              <button mat-raised-button [class.fullWidth]="(isHandset$ | async)" (click)="showPreliminaryInformation = !showPreliminaryInformation">
                {{ showPreliminaryInformation ? 'HIDE LICENSING INFORMATION' : 'VIEW LICENSING INFORMATION' }}
                <mat-icon class="chevron_vert">{{!showTerms  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
              </button>
            </div>
          </div>
          <div *ngIf="showPreliminaryInformation" [@fadeInOut]="'fadeIn'">
            <div class="centered-content margin-top wizard-label">LICENSING INFORMATION</div>
            <div class="page letterOfOfferTerms mat-elevation-z8" >
              <app-la-preliminary-info-simple [readonly]="true" [embedded]="true" [displayContextHelp]="false" [licenceApplication]="licenceApplication"></app-la-preliminary-info-simple>
            </div>
          </div>
        </div>

        <div class="margin-top">
          <mat-divider [inset]="false"></mat-divider>
        </div>
        <div class="fullWidth margin-top">
          <div fxFill fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="16px">
            <button mat-raised-button [class.fullWidth]="(isHandset$ | async)"
                    (click)="back.emit(licenceApplication)" [disabled]="(isHandset$ | async) || licenceApplication.letterOfOffer.status === LetterOfOfferStatus['ACCEPTED']">
              BACK
            </button>
            <button mat-raised-button [class.fullWidth]="(isHandset$ | async)" (click)="next.emit(licenceApplication)">
              NEXT
            </button>
          </div>
        </div>

        <div *ngIf="errorMessage" [@fadeInOut]="'fadeIn'" class="errorBanner margin-vertical" fxLayoutAlign="start center">
          <mat-icon class="info-icon">error_outline</mat-icon>
          <div>{{ errorMessage }}</div>
        </div>

      </div> <!-- END CONDITIONS HAVE BEEN ACCEPTED -->

    </div>
  </div>

</div>
