<!-- https://www.agriculture.gov.ie/publications/2011/annualreviewandoutlookforagriculturefisheriesandfood20102011/fisheries/theirishfishingfleet/ -->

<app-bottomsheet-close-icon></app-bottomsheet-close-icon>
<div class="page padding-bottom-double light-green-background dafm-green max-width-centered-content">
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
    <h1 class="margin-bottom color-primary">FISHING SEGMENTS</h1>
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
      <div class="card-data">
        The Irish fleet contains five main segments:
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div fxFlexAlign="start">
          <div class="card-data-header">Polyvalent</div>
          <div class="card-data">
            This segment contains the vast majority of the fleet. These vessels are multi-purpose and include small inshore vessels (netters and potters), and medium and large offshore vessels targeting whitefish, pelagic fish and bivalve molluscs.
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div fxFlexAlign="start">
          <div class="card-data-header">Refrigerated Seawater (RSW) Pelagic</div>
          <div class="card-data">
            This segment is engaged predominantly in fishing for pelagic species (herring, mackerel, horse mackerel and blue whiting, mainly).
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div fxFlexAlign="start">
          <div class="card-data-header">Beam Trawler</div>
          <div class="card-data">
            This contains vessels dedicated to beam trawling, a simple trawling method used predominantly in Irish inshore waters except in the southeast, where it is used to catch flatfish such as sole and plaice.
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div fxFlexAlign="start">
          <div class="card-data-header">Specific</div>
          <div class="card-data">
            This segment contains vessels which are permitted to fish for bivalve molluscs and aquaculture species.
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div fxFlexAlign="start">
          <div class="card-data-header">Aquaculture</div>
          <div class="card-data">
            These vessels must be exclusively used in the management, development and servicing of aquaculture areas and can collect spat from wild mussel stocks as part of a service to aquaculture installations.
          </div>
        </div>
      </div>
    </div>
    <app-divider xstyle="width: 50%"></app-divider>
  </div>
</div>
