<div [class.page]="standAlonePage" [class.readonly]="readonly" [class.handset]="(isHandset$ | async)" [class.desktop]="!(isHandset$ | async)">

  <app-la-header *ngIf="standAlonePage"></app-la-header>

  <div class="max-width-centered-content">

    <div class="fullWidth">

      <form [formGroup]="form">
        <div *ngIf="standAlonePage" class="wizard-label margin-bottom">LICENSING INFORMATION</div>
        <div *ngIf="displayContextHelp" class="helpCursor" [class.margin-bottom-half]="(isHandset$ | async)" [class.margin-bottom]="!(isHandset$ | async)">
          <div fxFill fxLayout="row" fxLayoutAlign="space-around center">
            <div class="helpLink" (click)="openReviewPreliminaryInfoBottomSheet()">Why do I need to review this?</div>
          </div>
        </div>

        <!-- mat-elevation-z8 padding-vertical -->
        <div fxLayout="column" fxLayoutAlign="start center" class="form-field-icons" [style.width]="(isHandset$ | async) ? null : '75%'" [style.margin]="(isHandset$ | async) ? null : 'auto'">

          <!-- LOA and Registered Length -->
          <div class="bold grey margin-bottom" [@fadeInOut]="'fadeIn'">
            <span class="helpLinkWithinText" (click)="openVesselLengthBottomSheet()">Vessel Length</span>
            and
            <span class="helpLinkWithinText" (click)="openFleetSegmentBottomSheet()">Fishing Segment</span>
          </div>
          <div [@fadeInOut]="'fadeIn'">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon matListIcon alt="Name">settings_ethernet</mat-icon>
              <div class="inline">
                <mat-form-field class="loa"><!-- [style.width]="'50px'" -->
                  <input matInput placeholder="LOA"
                         number type="number" min="0"
                         [(ngModel)]="licenceApplication.preliminaryInformation.loa"
                         [formControl]="form.controls.loa"
                         (focus)="errorMessage = ''"
                         (blur)="onLoseFocus('LENGTH');configureFleetSegmentGroups()"
                         [readonly]="readonly ? readonly : null">
                  <span matSuffix class="grey">&nbsp;m</span>
                  <mat-error *ngIf="!readonly">* Required</mat-error>
                </mat-form-field>
                <!--
                <mat-form-field class="margin-left registeredLength">
                  <input matInput placeholder="Registered Length"
                         number type="number" min="0"
                         [(ngModel)]="licenceApplication.preliminaryInformation.registeredLength"
                         [formControl]="form.controls.registeredLength"
                         (focus)="errorMessage = ''"
                         (blur)="onLoseFocus('LENGTH')"
                         [readonly]="readonly ? readonly : null">
                  <span matSuffix class="grey">&nbsp;m</span>
                  <mat-error *ngIf="!readonly">* Required</mat-error>
                </mat-form-field>
                -->

                <mat-form-field *ngIf="!readonly" [class.readonly-wrapper]="readonly" class="margin-left registeredLength">
                  <mat-label>Registered Length</mat-label>
                  <mat-select required [disabled]="readonly ? true : null"
                              [(ngModel)]="licenceApplication.preliminaryInformation.registeredLength"
                              [formControl]="form.controls.registeredLength"
                              (selectionChange)="onLoseFocus('LENGTH')">
                    <mat-option *ngFor="let key of registeredLengthOptions" [value]="key">
                      {{ utils.displayEnumText(key, RegisteredLengthOption) }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.controls.registeredLength.hasError('required')">* Required</mat-error>
                  <!--<mat-hint class="text-x-small">{{ displayRegisteredLengthHint() }}</mat-hint>-->
                </mat-form-field>
                <button *ngIf="useDoneButtons" mat-raised-button mat-icon-button class="doneButton" [disabled]="!isDone('LENGTH')">
                  <mat-icon matListIcon alt="Done">done</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <!-- Fleet Segment -->
          <div [@flyInOut]="'in'">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon matListIcon fxLayoutAlign="space-between start" alt="Fleet Segment">public</mat-icon>
              <mat-form-field *ngIf="readonly">
                <input matInput placeholder="Fleet Segment" number value="{{ FleetSegmentManager.displayFleetSubSegment(licenceApplication.preliminaryInformation.fleetSegment) }}" readonly>
              </mat-form-field>
              <mat-form-field *ngIf="!readonly" [class.readonly-wrapper]="readonly">
                <mat-label>Segment</mat-label>
                <mat-select required [disabled]="readonly ? true : null"
                            [(ngModel)]="licenceApplication.preliminaryInformation.fleetSegment"
                            [formControl]="form.controls.fleetSegment"
                            (selectionChange)="onLoseFocus('SEGMENT')">
                  <!-- Use the commented out block to group segments, otherwise use the ng-template block to display a flattened list -->
                  <!--
                  <mat-optgroup *ngFor="let group of segmentGroups" [label]="group.name"
                                [disabled]="group.disabled">
                    <mat-option *ngFor="let segment of group.segment" [value]="segment.value">
                      {{ segment.viewValue }}
                    </mat-option>
                  </mat-optgroup>
                  -->
                  <ng-template ngFor let-group [ngForOf]="segmentGroups">
                    <mat-option *ngFor="let segment of group.segment" [value]="segment.value">
                      {{ segment.viewValue }}
                    </mat-option>
                  </ng-template>
                </mat-select>
                <mat-error *ngIf="form.controls.fleetSegment.hasError('required')">* Required</mat-error>
                <mat-hint class="text-x-small">{{ FleetSegmentManager.displayFleetSubSegmentHint(licenceApplication.preliminaryInformation.fleetSegment) }}</mat-hint>
              </mat-form-field>
            </div>
          </div>

          <!-- Applicant Type -->
          <div class="bold grey margin-vertical" [@fadeInOut]="'fadeIn'">
            Applicant(s)
          </div>
          <div [@flyInOut]="'in'">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon matListIcon fxLayoutAlign="space-between start" alt="Fleet Segment">assignment_ind</mat-icon>
              <mat-form-field *ngIf="!readonly" [class.readonly-wrapper]="readonly">
                <mat-label>Who is this application for?</mat-label>
                <mat-select required [disabled]="readonly ? true : null"
                            [(ngModel)]="licenceApplication.preliminaryInformation.applicantType"
                            [formControl]="form.controls.applicantType"
                            (selectionChange)="onLoseFocus('APPLICANT_TYPE')">
                  <mat-option *ngFor="let key of applicantTypes" [value]="key">
                    {{ utils.displayEnumText(key, ApplicantType) }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls.applicantType.hasError('required')">* Required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="readonly" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon fxLayoutAlign="space-between start" alt="Applicant Type">group</mat-icon>
            <mat-form-field>
              <input matInput placeholder="Applicant Type" value="{{ApplicantType[licenceApplication.preliminaryInformation.applicantType]}}" readonly>
            </mat-form-field>
          </div>

          <!-- Applicant Type - Company -->
          <!-- Company Name -->
          <div *ngIf="canProceedToFormSection('COMPANY')" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon fxLayoutAlign="space-between start" alt="Company">apartment</mat-icon>
            <mat-form-field [class.readonly]='user.companyName'>
              <input matInput placeholder="Company Name"
                     [(ngModel)]="licenceApplication.preliminaryInformation.companyName"
                     [formControl]="form.controls.companyName"
                     (focus)="errorMessage = ''"
                     (blur)="onLoseFocus('COMPANY')"
              [readonly]='user.companyName'>
              <mat-error *ngIf="!readonly">* Required</mat-error>
            </mat-form-field>
            <button *ngIf="useDoneButtons" mat-raised-button mat-icon-button class="doneButton" [disabled]="!isDone('COMPANY')">
              <mat-icon matListIcon alt="Done">done</mat-icon>
            </button>
          </div>

          <!-- Applicant Type - Partnership -->
          <!-- Partnership Name -->
          <div *ngIf="canProceedToFormSection('PARTNERSHIP')" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon fxLayoutAlign="space-between start" alt="Partnership">group</mat-icon>
            <mat-form-field>
              <input matInput placeholder="Partnership Name"
                     [(ngModel)]="licenceApplication.preliminaryInformation.partnershipName"
                     [formControl]="form.controls.partnershipName"
                     (focus)="errorMessage = ''"
                     (blur)="onLoseFocus('PARTNERSHIP')">
              <mat-error *ngIf="!readonly">* Required</mat-error>
            </mat-form-field>
            <button *ngIf="useDoneButtons" mat-raised-button mat-icon-button class="doneButton" [disabled]="!isDone('PARTNERSHIP')">
              <mat-icon matListIcon alt="Done">done</mat-icon>
            </button>
          </div>

          <!-- Primary Applicant Details -->
          <div *ngIf="isCompany()" class="bold grey margin-vertical" [@fadeInOut]="'fadeIn'">Contact</div>
          <div *ngIf="canProceedToFormSection('SECONDARY_APPLICANTS')" class="bold grey margin-vertical" [@fadeInOut]="'fadeIn'">Primary Applicant</div>

          <!-- Name (readonly) -->
          <div *ngIf="readonly || (user.firstName && user.lastName && canProceedToFormSection('PRIMARY_APPLICANT'))" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon fxLayoutAlign="space-between start" alt="First Name">face</mat-icon>
            <mat-form-field class="readonly">
              <input matInput placeholder="Name"
                     value="{{licenceApplication.preliminaryInformation.primaryApplicant.firstName}} {{licenceApplication.preliminaryInformation.primaryApplicant.lastName}}"
                     readonly>
            </mat-form-field>
          </div>

          <!-- First Name -->
          <div *ngIf="!(user.firstName && user.lastName) && canProceedToFormSection('PRIMARY_APPLICANT')" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon fxLayoutAlign="space-between start" alt="First Name">face</mat-icon>
            <mat-form-field>
              <input matInput placeholder="{{ isPartnership() ? 'Your ' : '' }}First Name"
                     [(ngModel)]="licenceApplication.preliminaryInformation.primaryApplicant.firstName"
                     [formControl]="form.controls.firstName"
                     (focus)="errorMessage = ''"
                     (blur)="onLoseFocus('PRIMARY_APPLICANT')">
              <mat-error *ngIf="!readonly">* Required</mat-error>
            </mat-form-field>
          </div>

          <!-- Last Name -->
          <div *ngIf="!user && canProceedToFormSection('PRIMARY_APPLICANT')" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon fxLayoutAlign="space-between start" alt="Last Name"></mat-icon>
            <mat-form-field>
              <input matInput placeholder="{{ isPartnership() ? 'Your ' : '' }}Last Name"
                     [(ngModel)]="licenceApplication.preliminaryInformation.primaryApplicant.lastName"
                     [formControl]="form.controls.lastName"
                     (focus)="errorMessage = ''"
                     (blur)="onLoseFocus('PRIMARY_APPLICANT')">
              <mat-error>* Required</mat-error>
            </mat-form-field>
          </div>

          <!-- Email -->
          <div *ngIf="readonly || canProceedToFormSection('PRIMARY_APPLICANT')" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon matListIcon fxLayoutAlign="space-between start" alt="Name">email</mat-icon>
            <mat-form-field [class.readonly]="user.email">
              <input matInput placeholder="{{ isPartnership() ? 'Your ' : '' }}Email"
                     [(ngModel)]="licenceApplication.preliminaryInformation.primaryApplicant.email"
                     [formControl]="form.controls.email"
                     (focus)="errorMessage = ''"
                     [readonly]="(readonly || user.email ) ? true : null"
                     (blur)="onLoseFocus('PRIMARY_APPLICANT')">
              <mat-error *ngIf="!readonly">* Valid Email Address Required</mat-error>
              <mat-hint *ngIf="!readonly" style="color: rgba(50, 112, 104, 1)">The Letter of Offer will be emailed here</mat-hint>
            </mat-form-field>
            <button *ngIf="useDoneButtons" mat-raised-button mat-icon-button class="doneButton" [disabled]="!isDone('PRIMARY_APPLICANT')">
              <mat-icon matListIcon alt="Done">done</mat-icon>
            </button>
          </div>

          <!-- Other Partners -->
          <div *ngIf="canProceedToFormSection('SECONDARY_APPLICANTS')">
            <ng-template ngFor let-i=index let-applicant [ngForOf]="licenceApplication.preliminaryInformation.otherApplicants">
              <div class="bold centered-content grey margin-top-double margin-bottom" [@fadeInOut]="'fadeIn'">
                Applicant {{ i+2 }}
                <span *ngIf="i > 0" class="margin-left" [@flyInOut]="'in'"><!-- there must be at least one other partner -->
                  <button mat-raised-button (click)="removeApplicant(i)">
                    REMOVE
                  </button>
                </span>
              </div>

              <!-- First Name -->
              <div [@flyInOut]="'in'">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon matListIcon fxLayoutAlign="space-between start" alt="First Name">face</mat-icon>
                  <mat-form-field>
                    <input matInput placeholder="Applicant {{ i + 2 }} First Name"
                           [(ngModel)]="licenceApplication.preliminaryInformation.otherApplicants[i]['firstName']"
                           [formControl]="otherApplicantForms[i].controls.firstName"
                           (focus)="errorMessage = ''">
                    <mat-error *ngIf="!readonly">* Required</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- Last Name -->
              <div [@flyInOut]="'in'">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon matListIcon fxLayoutAlign="space-between start" alt="Last Name"></mat-icon>
                  <mat-form-field>
                    <input matInput placeholder="Applicant {{ i + 2 }} Last Name"
                           [(ngModel)]="licenceApplication.preliminaryInformation.otherApplicants[i]['lastName']"
                           [formControl]="otherApplicantForms[i].controls.lastName"
                           (focus)="errorMessage = ''">
                    <mat-error>* Required</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- Email -->
              <!-- 27/11/19 the business requested removal of partner email fields -->
              <!--
              <div [@flyInOut]="'in'">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon matListIcon fxLayoutAlign="space-between start" alt="Name">email</mat-icon>
                  <mat-form-field>
                    <input matInput placeholder="Applicant {{ i + 2 }} Email"
                           [(ngModel)]="licenceApplication.preliminaryInformation.otherApplicants[i]['email']"
                           [formControl]="otherApplicantForms[i].controls.email"
                           (focus)="errorMessage = ''"
                           [readonly]="readonly ? readonly : null">
                    <mat-error *ngIf="!readonly">* Required</mat-error>
                  </mat-form-field>
                  <button *ngIf="useDoneButtons" mat-raised-button mat-icon-button class="doneButton" [disabled]="!otherApplicantFormsValid(true)">
                    <mat-icon matListIcon alt="Done">done</mat-icon>
                  </button>
                </div>
              </div>
              -->
            </ng-template>

            <div class="fullWidth margin-top-double" [@flyInOut]="'in'">
              <div *ngIf="licenceApplication.preliminaryInformation.otherApplicants.length === 0" fxFill fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="16px">
                <button mat-raised-button [class.fullWidth]="(isHandset$ | async)" (click)="addApplicant()" [disabled]="!otherApplicantFormsValid(true)">
                  ADD APPLICANT
                </button>
              </div>
              <div *ngIf="licenceApplication.preliminaryInformation.otherApplicants.length > 0" fxFill fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
                <div class="bold dafm-green">Add Another Applicant?</div>
                <div fxFill fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="16px">
                  <button mat-raised-button (click)="addApplicant()" [disabled]="!otherApplicantFormsValid(true)">
                    YES
                  </button>
                  <button mat-raised-button (click)="applicantListCompleted = true" [disabled]="!otherApplicantFormsValid(true)">
                    NO
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </form>

      <!--<div *ngIf="!readonly && form.valid && primaryApplicantCompleted && (
         isIndividual() ||
        (isCompany() && companyCompleted) ||
        (isPartnership() && partnershipCompleted && applicantListCompleted && otherApplicantFormsValid()))"
           class="margin-top-double margin-bottom margin-left-half" [@fadeInOut]="'fadeIn'">-->
      <div *ngIf="!readonly && form.valid && isDone('PRIMARY_APPLICANT') && (
         isIndividual() ||
        (isCompany() && isDone('COMPANY')) ||
        (isPartnership() && isDone('PARTNERSHIP') && applicantListCompleted && otherApplicantFormsValid()))"
             class="margin-top margin-bottom margin-left-half" [@fadeInOut]="'fadeIn'">

        <div fxLayout="column" fxLayoutAlign="space-around center">

          <div *ngIf="isCompany() || isPartnership()" class="margin-top" [class.width60pc]="!(isHandset$ | async)">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                <div fxFlexAlign="start" class="left">
                  <mat-checkbox [(ngModel)]="isAuthorised" [ngModelOptions]="{standalone: true}" (click)="!isAuthorised ? scroll('bottomOfPage') : null"></mat-checkbox>
                </div>
                <div *ngIf="isPartnership()" fxFlexAlign="start" class="left">
                  By ticking this box, I confirm that I am authorised to act on behalf of all the partners (applicants).
                </div>
                <div *ngIf="isCompany()" fxFlexAlign="start" class="left">
                  By ticking this box, I confirm that I am authorised to act on behalf of the company.
                </div>
              </div>
            </div>
          </div>
          <!--
          <div class="bold dafm-green">
            Thank you.
            <div class="br">That's all the information we need for now.</div>
            <div class="br">You are ready to submit your application.</div>
          </div>
          -->
          <div *ngIf="isIndividual() || isAuthorised" class="margin-top" [@fadeInOut]="'fadeIn'">
            <div fxLayout="row" fxLayoutAlign="space-around start" class="successBanner">
              <div>
                <mat-icon class="info-icon">check_circle_outline</mat-icon>
              </div>
              <div>
                Thank you.
                <br/><br/>That's all the information we need for now.
                <span [class.br]="!(isHandset$ | async)"> You are ready to submit your application.</span>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="dafm-green margin-top" [@fadeInOut]="'fadeIn'">
          Please <span class="helpLinkWithinText" (click)="openReviewPreliminaryInfoBottomSheet(true)">review</span> before submitting your application.
        </div>-->
      </div>

      <!-- DMcD: IMPORTANT - these buttons must be outside the form tag, otherwise clicking the cancel button reloads the webpage -->
      <div *ngIf="!embedded" class="margin-bottom-double">
        <div class="margin-top">
          <mat-divider [inset]="false"></mat-divider>
        </div>

        <mat-progress-bar *ngIf="submissionInProgress" class="margin-vertical" mode="indeterminate"></mat-progress-bar>

        <div class="fullWidth" [class.margin-top-double]="standAlonePage" [class.margin-top]="!standAlonePage">
          <div fxFill fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="16px">
            <button mat-raised-button [class.fullWidth]="(isHandset$ | async)"
                    (click)="back.emit(licenceApplication)" [disabled]="licenceApplication.letterOfOffer.status === LetterOfOfferStatus['ACCEPTED']">
              BACK
            </button>
            <button *ngIf="readonly" mat-raised-button [class.fullWidth]="(isHandset$ | async)"
                    (click)="next.emit(licenceApplication)">
              NEXT
            </button>
            <button *ngIf="!readonly" mat-raised-button [class.fullWidth]="(isHandset$ | async)" [disabled]="(!readonly && (!form.valid || (!isAuthorised && !isIndividual())) || (isPartnership() && !applicantListCompleted)) ? true : null"
                    (click)="onSubmit()">
              SUBMIT
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="errorMessage" [@fadeInOut]="'fadeIn'" class="errorBanner margin-vertical" fxLayoutAlign="start center">
        <mat-icon class="info-icon">error_outline</mat-icon>
        <div>{{ errorMessage }}</div>
      </div>

    </div>
  </div>

  <div id="bottomOfPage"></div>

</div>
