<div class="page padding-bottom-double light-green-background dafm-green max-width-centered-content">
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
    <h1 class="margin-bottom color-primary">
      QUALIFICATION FOR A
      <div *ngIf="(isHandset$ | async)" class="br"></div>
      SEA FISHING BOAT LICENCE
    </h1>
    <div class="margin-bottom bold card-data-header">
      Only qualifying individuals or companies under Section 97(5) of the Sea-Fisheries and Maritime Jurisdiction Act 2006 may apply
      for a Sea Fishing Boat Licence.
    </div>
    <div class="br italic card-data">
      The licensing authority shall not grant a sea-fishing boat
      licence unless the sea-fishing boat in relation to which the
      licence is granted is wholly owned by a national of a Member
      State or a state belonging to the European Economic Area or a
      body corporate established under and subject to the law of a
      Member State and having its principal place of business in a
      Member State or a state belonging to the European Economic
      Area.
    </div>
    <app-divider xstyle="width: 50%"></app-divider>
  </div>
</div>
