<div class="page padding-bottom-double light-green-background dafm-green max-width-centered-content">
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
    <h1 class="margin-bottom color-primary">LICENCE APPLICATION PROCESS</h1>
    <div class="card-data">
      Once you confirm your qualifying status, you will be asked to provide some Preliminary Information about your vessel and the type of fishing you wish to undertake.
    </div>
    <div class="br card-data">
      Based on the information you provide, the <span class="italic">Licensing Authority for Sea Fishing Boats</span> will issue you a Letter of Offer
      (by email) which lists the terms and conditions to which you must comply in order to be granted the licence.
      The Letter of Offer will also be automatically available within this system for logged in users.
      You have 30 days to accept or reject the terms.
    </div>
    <div class="br card-data">
      If you haven't done so already, you should register on the DAFM's Corporate Customer System (CCS).
      You use your CCS Username and Password to login to this Seafood Online Services System (SFOS).
      After you have logged into SFOS, you will be able to retrieve your Preliminary Application using the instructions provided in the email.
    </div>
    <div class="br card-data">
      SFOS will then ask you to accept the terms of the Letter of Offer, at which point your application will become active and you have
      one year to complete and return the necessary documentation (by post).
    </div>
    <div class="br card-data">
      SFOS will provide download links for all the forms you need to complete together with a final checklist and return instructions.
    </div>
    <app-divider xstyle="width: 50%"></app-divider>
  </div>
</div>
