<div class="page" [class.handset]="(isHandset$ | async)" [class.desktop]="!(isHandset$ | async)">
  <h2><mat-icon matListIcon alt="My Profile" style="position: relative; top: 4px; margin-right: 8px;">{{(title$ | async) == 'Client Profile' ? 'person_outline' : 'person'}}</mat-icon>{{ (title$ | async) == 'Client Profile' ? 'Client Profile' : 'My Profile' }}<span class="margin-left" style="position: relative; top: -4px"></span></h2>
  <!--<pre>{{ state$ | async | json }}</pre>-->
  <div class="readonly margin-top form-field-icons">

    <div fxLayout="row" fxLayoutAlign="start center">

      <mat-icon matListIcon fxlayoutalign="space-between start" alt="Name">face</mat-icon>
      <mat-form-field [style.width]="dynamicWidth('Mr.', 'title')" class="margin-right-narrow">
        <input matInput placeholder="Title" value="Mr" readonly>
      </mat-form-field>

      <mat-form-field [style.width]="dynamicWidth('John', 'First Name')" class="margin-right-narrow">
        <!-- TODO: Remove the ngIfs which are only there for the DEMO -->
        <input *ngIf="(title$ | async) === 'Client Profile'" matInput placeholder="First Name" value="Peter" readonly>
        <input *ngIf="(title$ | async) !== 'Client Profile'" matInput placeholder="First Name" value="{{profileDetails.firstName}}" readonly>
      </mat-form-field>

      <mat-form-field [style.width]="dynamicWidth('Murphy', 'Surname')" class="margin-right-narrow">
        <!-- TODO: Remove the ngIfs which are only there for the DEMO -->
        <input *ngIf="(title$ | async) === 'Client Profile'" matInput placeholder="Surname" value="Mahoney" readonly>
        <input *ngIf="(title$ | async) !== 'Client Profile'" matInput placeholder="Surname" value="{{profileDetails.surname}}" readonly>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon matListIcon fxlayoutalign="space-between start" alt="Date of Birth">date_range</mat-icon> <!-- for some reason calendar_today renders incorrectly on the right of the text -->
      <mat-form-field>
        <input matInput placeholder="Date of Birth" value="DD/MM/YYYY" readonly>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon matListIcon fxlayoutalign="space-between start" alt="Nationality">flag</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Country of Nationality" value="Ireland" readonly>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon matListIcon fxlayoutalign="space-between start" alt="PPSN">folder_shared</mat-icon>
      <mat-form-field [style.width]="dynamicWidth('5372214A', 'PPSN')" class="margin-right-narrow">
        <input matInput placeholder="PPSN" value="{{profileDetails.ppsn}}" readonly>
      </mat-form-field>
      <!-- DMcD: we can remove User Reference No. if LA applicants can be identified by email address -->
      <!--
      <mat-form-field [style.width]="dynamicWidth('12345678', 'User Reference No.')" class="margin-right-narrow">
        <input matInput placeholder="User Reference No." value="12345678" readonly>
      </mat-form-field>
      -->
    </div>

    <mat-divider [inset]="false"></mat-divider>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon matListIcon fxlayoutalign="space-between start" alt="Address">place</mat-icon>
      <div fxLayout="column" fxLayout.sm="column" fxLayoutAlign="start center">
        <mat-form-field class="multiline">
          <input matInput placeholder="Address" value="1 Main Street" readonly>
        </mat-form-field>
        <mat-form-field class="multiline">
          <input matInput value="Any Town" readonly>
        </mat-form-field>
        <mat-form-field class="multiline">
          <input matInput value="Any County" readonly>
        </mat-form-field>
        <mat-form-field class="multiline">
          <input matInput value="W23 X3PH" readonly>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="margin-top-double">
      <mat-icon matListIcon fxlayoutalign="space-between start" alt="Date of Birth">email</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Email" value="{{profileDetails.email}}" readonly>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon matListIcon fxlayoutalign="space-between start" alt="Phone">phone</mat-icon>
      <mat-form-field [style.width]="dynamicWidth('087-7654321', 'Mobile Phone')" class="margin-right-narrow">
        <input matInput placeholder="Mobile Phone" value="087-7654321" readonly>
      </mat-form-field>
      <mat-form-field [style.width]="dynamicWidth('01-1234567', 'Home Phone')" class="margin-right-narrow">
        <input matInput placeholder="Home Phone" value="01-1234567" readonly>
      </mat-form-field>
    </div>

    <!--
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon matListIcon fxlayoutalign="space-between start" alt="Contact Preference">thumb_up</mat-icon>
      <mat-form-field>
        <input matInput placeholder="Contact Preference" value="Mobile Phone" readonly>
      </mat-form-field>
    </div>
    -->

  </div>

  <mat-divider [inset]="false"></mat-divider>

  <div class="margin-top margin-left-double">
    <button mat-raised-button (click)="onEdit()">Edit</button>
  </div>

</div>
