<div class="page">

  <div *ngIf="(isHandset$ | async)" class="wizard-label">Preliminary Information</div>

  <div class="margin-top" fxLayout="column">
    <h2>Sea Fishing Vessel Licence Application</h2>
    <h3>Preliminary Information</h3>

    <mat-form-field [class.readonly-wrapper]="readonly">
      <mat-label>What type of applicant are you?</mat-label>
      <!-- <mat-label>Select applicant type</mat-label> -->
      <mat-select [formControl]="applicantTypeControl" [(value)]="selected" required
                  [disabled]="readonly ? true : null">
        <mat-option *ngFor="let appType of applicantTypes" [value]="appType.value">
          {{appType.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>



    <div *ngIf="selected === 'individual'" fxLayout="column">
      <mat-form-field>
        <input matInput mat-required [formControl]="firstNameFormControl" placeholder="First Name" [type]="'text'"
               required minlength="4" [(ngModel)]="user.firstName">
        <mat-error>This field is required!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Surame" [(ngModel)]="user.lastName" [formControl]="lastNameFormControl" required
               minlength="4">
        <mat-error>This field is required!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="eMail" [(ngModel)]="user.email" [formControl]=emailFormControl required
               pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
    </div>
    <!--end of individual section-->

    <div *ngIf="selected === 'company'" fxLayout="column">
      <mat-label>Company</mat-label>
      <mat-divider></mat-divider>
      <mat-form-field>
        <input matInput mat-required [formControl]="companyNameFormControl" placeholder="Name" [type]="'text'"
               required minlength="4" [(ngModel)]="user.companyName">
        <mat-error>This field is required!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="eMail for Correspondance" [(ngModel)]="user.email" [formControl]=emailFormControl required
               pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-label>Contact Details</mat-label>
      <mat-divider></mat-divider>
      <mat-form-field>
        <input matInput mat-required [formControl]="firstNameFormControl" placeholder="First Name" [type]="'text'"
               required minlength="4" [(ngModel)]="user.firstName">
        <mat-error>This field is required!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Surname" [(ngModel)]="user.lastName" [formControl]="lastNameFormControl" required
               minlength="4">
        <mat-error>This field is required!</mat-error>
      </mat-form-field>
    </div>
    <!--end of company section-->

    <div *ngIf="selected === 'partnership'">
      <mat-label>Members of Partnership</mat-label>
      <mat-divider></mat-divider>
      <!-- Primary Applicant-->
      <div [class.left]="(isHandset$ | async)">
        <div *ngIf="this.licenceApplication.applicants.length > 0" class="wizard-label margin-top-double margin-bottom">
          Primary Applicant
        </div>
        <table mat-table [dataSource]="licenceApplication.applicants" class="shareAllocationTable"
               [class.left]="(isHandset$ | async)">
          <ng-container matColumnDef="userReferenceNumber">
            <th mat-header-cell *matHeaderCellDef [@flyInOut]="'in'">User Ref No.</th>
            <td mat-cell *matCellDef="let applicant; let i=index;" [@flyInOut]="'in'">
              <div *ngIf="applicant.userReferenceNumber">{{ applicant.userReferenceNumber }}</div>

              <div *ngIf="!applicant.userReferenceNumber" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <div>
                  <mat-form-field>
                    <input matInput #userRefNo type="text" placeholder="User Ref No." reguired>
                  </mat-form-field>
                </div>
                <div>
                  <button mat-raised-button mat-icon-button (click)="findApplicant(userRefNo.value, i)"
                          [disabled]="readonly || userRefNo.value === '' ? true : null">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef [@flyInOut]="'in'">Applicant</th><!-- Applicant Name -->
            <td mat-cell *matCellDef="let applicant; let i=index;" [@flyInOut]="'in'" class="left">
              <!--<div *ngIf="applicant.userReferenceNumber && !applicant.id">
                {{ applicant.id ? applicant.fullName : ''}}
              </div>-->
              <div *ngIf="applicant.userReferenceNumber && applicant.id">
                <button mat-stroked-button class="transparent" (click)="popupApplicantInfo(applicant)">
                  {{ applicant.fullName }}
                </button>
              </div>
              <div *ngIf="!applicant.userReferenceNumber" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                <mat-form-field class="userReferenceNumber">
                  <input matInput #userRefNo type="text" placeholder="User Ref No." reguired>
                </mat-form-field>

                <button mat-raised-button mat-icon-button (click)="findApplicant(userRefNo.value, i)"
                        [disabled]="readonly || userRefNo.value === '' ? true : null">
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef [@flyInOut]="'in'">
              <div class="left" *ngIf="!readonly">
                <button mat-raised-button (click)="addApplicant()">
                  <mat-icon>add_circle_outline</mat-icon>
                  Partner
                </button>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="numberOfShares">
            <th mat-header-cell *matHeaderCellDef [@flyInOut]="'in'">#&nbsp;Shares</th>
            <td mat-cell *matCellDef="let applicant;" [@flyInOut]="'in'">
              <mat-form-field>
                <input matInput #shares type="number" min="0" max="64" reguired [(ngModel)]="applicant.numberOfShares"
                       [ngModelOptions]="{standalone: true}" [disabled]="readonly || !applicant.id ? true : null">
                <mat-hint align="start" *ngIf="shares.value > 64" class="error">Maximum Allocation is 64 Shares
                </mat-hint>
                <!--<mat-hint align="end" [class.error]="shares.value > 64">{{shares.value}} / 64</mat-hint>-->
              </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef [@flyInOut]="'in'" [class.error]="countSharesAllocated() !== 64">
              # {{ countSharesAllocated() }} / 64
            </td>
          </ng-container>
          <ng-container matColumnDef="commands">
            <th mat-header-cell *matHeaderCellDef [@flyInOut]="'in'"></th>
            <td mat-cell *matCellDef="let applicant; let i=index" [@flyInOut]="'in'">
              <div *ngIf="!readonly" class="left margin-left-double">
                <button mat-raised-button mat-icon-button (click)="deleteApplicant(i)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef [@flyInOut]="'in'"></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" [@flyInOut]="'in'"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
      </div>
    </div> <!-- end of partnership section-->


    <!--Common form section with Segment, LOA, Registered Length, tickbox & Submit button-->
    <mat-label>Vessel/Segment Details</mat-label>
    <mat-divider></mat-divider>

    <mat-form-field [class.readonly-wrapper]="readonly">
      <mat-label>Segment</mat-label>
      <mat-select [formControl]="segmentControl" required [disabled]="readonly ? true : null">
        <mat-optgroup *ngFor="let group of segmentGroups" [label]="group.name" [disabled]="group.disabled">
          <mat-option *ngFor="let segment of group.segment" [value]="segment.value">
            {{ segment.viewValue }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-error *ngIf="segmentControl.hasError('required')">Please choose a segment</mat-error>
      <!--<mat-hint>{{segmentControl.value?.sound}}</mat-hint>-->
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" pattern="[0-9]+(\.[0-9][0-9]?)?" placeholder="Length Overall" [(ngModel)]="loaValue"
             [formControl]="loaControl" required minlength="1">
      <mat-error>This field is required (numeric with upto 2 decimal places)!</mat-error>
    </mat-form-field>


    <mat-form-field>
      <input matInput pattern="[0-9]+(\.[0-9][0-9]?)?" placeholder="Registered Length" [(ngModel)]="registeredLengthValue"
             [formControl]="registeredLengthControl" required minlength="4">
      <mat-error>This field is required (numeric with upto 2 decimal places)!</mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <mat-checkbox [(ngModel)]="informationAgreed" title="I agree to Terms & Conditions"
                    (click)="licenceApplication.activeApplicant.setLetterOfOfferTermsAccepted(!termsAccepted)">
      </mat-checkbox>
      <div fxflex="66" fxflexoffset="15px" style="margin-left: 5%; flex: 1 1 100%; box-sizing: border-box; max-width: 95%;">
        I declare that all information entered on this application form is accurate to the best of my knowledge and that
        I am authorised to act on behalf of all partnership members listed above.
      </div>
    </div>


  </div>
</div>
