<div class="margin-vertical" [class.handset]="(isHandset$ | async)">
  <div *ngIf="loading">
    Checking for applications...
  </div>
  <div *ngIf="licenceApplicationSummaries.length === 0 && !loading">
    You don't have any applications at the moment
  </div>
  <div *ngIf="licenceApplicationSummaries.length > 0 && !loading">
    <div fxLayout="{{(isHandset$ | async) ? 'column' : 'row wrap'}}" fxLayoutAlign="{{(isHandset$ | async) ? 'center start' : 'space-evenly start'}}">
      <div *ngFor="let licenceApplicationSummary of licenceApplicationSummaries; let i = index;">
        <app-la-application-card [licenceApplicationSummary]="licenceApplicationSummary"></app-la-application-card>
      </div>
    </div>
  </div>
</div>
