<div [class.page]="standAlonePage" [class.readonly]="readonly" [class.handset]="(isHandset$ | async)" [class.desktop]="!(isHandset$ | async)">

  <app-la-header *ngIf="standAlonePage"></app-la-header>

  <div class="margin-top max-width-centered-content">

    <div class="fullWidth">

      <div *ngIf="standAlonePage" class="wizard-label margin-bottom">SUBMIT APPLICATION</div>
      <div class="margin-bottom">
        Before submitting your application, please ensure that you have fully complied with the terms of your Letter of Offer for the <span class="bold">Sea Fishing Boat Licence Application</span>.
        Failure to do so could result in a delay processing your application.
      </div>
      <div class="margin-bottom">
        Completed forms should be returned by registered post to:
        <address class="margin-top">
          <!-- TODO Inject Address here -->
          Licensing Authority for Sea Fishing Boats
          <div class="br"></div>Department of Agriculture, Food and the Marine
          <div class="br"></div>National Seafood Centre
          <div class="br"></div>Clonakilty
          <div class="br"></div>Co. Cork
        </address>
      </div>
      <div class="margin-bottom">
        The Licensing Authority will endeavour to respond to your application within 28 days.
      </div>
      <div class="margin-bottom">
        For further queries, the Licensing Authority may also be contacted by:
        <div class="margin-top"></div>Telephone: <a href="tel:+353 23 88 59500">+353 23 88 59500</a>
        <div class="br"></div>Fax: <a href="fax:+353 23 88 21786">+353 23 88 21786</a>
        <div class="br"></div>Email: <a href="mailto:Licensingauthority@agriculture.gov.ie">Licensingauthority@agriculture.gov.ie</a>
      </div>

      <div *ngIf="!embedded" class="margin-bottom-double">
        <div class="margin-top">
          <mat-divider [inset]="false"></mat-divider>
        </div>
        <div class="fullWidth" [class.margin-top-double]="standAlonePage" [class.margin-top]="!standAlonePage">
          <div fxFill fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="16px">
            <button mat-raised-button [class.fullWidth]="(isHandset$ | async)"
                    (click)="back.emit(licenceApplication)">
              BACK
            </button>
            <button mat-raised-button [class.fullWidth]="(isHandset$ | async)" [disabled]="true"
                    (click)="next.emit(licenceApplication)">
              NEXT
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
