<div class="container">
  <div class="wrapper">
    <div class="arrow-steps clearfix">
      <div class="step current"> <span>Application Submitted</span> </div>
      <div class="step"> <span>Letter of Offer Accepted</span> </div>
      <div class="step"> <span>Conditions Accepted</span> </div>
      <div class="step"> <span>Conditions Statisfied</span> </div>
    </div>
    <!--<div class="nav clearfix">
      <a href="#" class="prev">Previous</a>
      <a href="#" class="next pull-right">Next</a>
    </div>-->
  </div>
</div>
