<div class="page readonly" [class.handset]="(isHandset$ | async)" [class.desktop]="!(isHandset$ | async)">
  <h2 style="width:100%">
    <mat-icon matListIcon alt="My Capacity" style="position: relative; top: 4px; margin-right: 8px;">toys</mat-icon>{{ title$ | async }}
  </h2>

  <div style="font-size: small" class="margin-bottom">
    <mat-checkbox [(ngModel)]="pointsEnabled">UX Option: Points Enabled</mat-checkbox>
  </div>

  <div [class.closed]="!showUXOptions" fxLayout="start end" style="font-size: small;" fxLayoutGap="16px" [class.margin-bottom]="showUXOptions">
    <div style="position: relative; top: 12px; font-weight: bold">UX Options:</div>
    <mat-form-field style="max-width: 50px">
      <mat-label># Vessels</mat-label>
      <mat-select (selectionChange)="onNumberOfVesselsSelected($event.value)">
        <mat-option value="0">None</mat-option>
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
        <mat-option value="ALL">All</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="pointsEnabled" style="position: relative; top: 12px;">Points</mat-checkbox>
    <mat-checkbox [(ngModel)]="showVesselCapacity" style="position: relative; top: 12px;">Vessel Capacity</mat-checkbox>
    <mat-checkbox [(ngModel)]="alignColumns" style="position: relative; top: 12px;">Align Cols</mat-checkbox>
    <mat-checkbox [(ngModel)]="optimiseLayout" style="position: relative; top: 12px;" title="No Points: Align Cols (Mobile and Desktop), Points: Align Cols on Desktop but not Mobile">Optimise</mat-checkbox>
    <mat-button-toggle-group #displayModeToggleGroup="matButtonToggleGroup" style="max-height: 32px">
      <mat-button-toggle value="TABLE" style="max-height: 32px">
        <mat-icon style="vertical-align: top; padding-top: 4px">menu</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="GRID" style="max-height: 32px">
        <mat-icon style="vertical-align: top; padding-top: 4px">apps</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- Expiry Date Approaching Warning Bar -->
  <div *ngIf="isExpiringSoon()" class="errorBanner margin-bottom" fxLayoutAlign="start center">
    <mat-icon class="info-icon">error_outline</mat-icon>
    <div>You have capacity expiring soon!</div>
  </div>

  <mat-tab-group mat-stretch-tabs [class.centered-max-width-tabs]="displayMode.value === 'TABLE'" [selectedIndex]="0">

    <!-- ON REGISTER -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="page">mobile_friendly</mat-icon>
        <span class="wizard-label color-primary cdk-focused">On Register</span>
      </ng-template>

      <!-- POLYVALENT -->
      <app-fleet-segment [allCapacity]="allCapacity"
                         [fleetSegment]="FleetSegment['POLYVALENT']"
                         [fleetSubSegments]="[FleetSubSegment['POLYVALENT_LT_18M_LOA'],
                                              FleetSubSegment['POLYVALENT_GTE_18M_LOA'],
                                              FleetSubSegment['POLYVALENT_SCALLOPS_GTE_10M_LOA'],
                                              FleetSubSegment['POLYVALENT_POTTING']]"
                         [offRegister]="false"
                         [pointsEnabled]="pointsEnabled">
      </app-fleet-segment>

      <!-- RSW PELAGIC -->
      <app-fleet-segment [allCapacity]="allCapacity"
                         [fleetSegment]="FleetSegment['RSW_PELAGIC']"
                         [fleetSubSegments]="[FleetSubSegment['RSW_PELAGIC']]"
                         [offRegister]="false"
                         [pointsEnabled]="pointsEnabled">
      </app-fleet-segment>

      <!-- SPECIFIC -->
      <app-fleet-segment [allCapacity]="allCapacity"
                         [fleetSegment]="FleetSegment['SPECIFIC']"
                         [fleetSubSegments]="[FleetSubSegment['SPECIFIC_SCALLOPS_GTE_10M_LOA'],
                                              FleetSubSegment['SPECIFIC_GENERAL']]"
                         [offRegister]="false"
                         [pointsEnabled]="pointsEnabled">
      </app-fleet-segment>

      <!-- AQUACULTURE -->
      <app-fleet-segment [allCapacity]="allCapacity"
                         [fleetSegment]="FleetSegment['AQUACULTURE']"
                         [fleetSubSegments]="[FleetSubSegment['AQUACULTURE']]"
                         [offRegister]="false"
                         [pointsEnabled]="pointsEnabled">
      </app-fleet-segment>

      <!-- BEAM TRAWLER -->
      <app-fleet-segment [allCapacity]="allCapacity"
                         [fleetSegment]="FleetSegment['BEAM_TRAWLER']"
                         [fleetSubSegments]="[FleetSubSegment['BEAM_TRAWLER']]"
                         [offRegister]="false"
                         [pointsEnabled]="pointsEnabled">
      </app-fleet-segment>

    </mat-tab>

    <!-- OFF REGISTER -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="page"><mat-icon>phonelink_erase</mat-icon></mat-icon>
        <span class="wizard-label color-primary">Off Register</span>
      </ng-template>

      <!-- POLYVALENT -->
      <app-fleet-segment [allCapacity]="allCapacity"
                         [fleetSegment]="FleetSegment['POLYVALENT']"
                         [fleetSubSegments]="[FleetSubSegment['POLYVALENT_LT_18M_LOA'],
                                              FleetSubSegment['POLYVALENT_GTE_18M_LOA'],
                                              FleetSubSegment['POLYVALENT_SCALLOPS_GTE_10M_LOA'],
                                              FleetSubSegment['POLYVALENT_POTTING']]"
                         [offRegister]="true"
                         [pointsEnabled]="pointsEnabled">
      </app-fleet-segment>

      <!-- RSW PELAGIC -->
      <app-fleet-segment [allCapacity]="allCapacity"
                         [fleetSegment]="FleetSegment['RSW_PELAGIC']"
                         [fleetSubSegments]="[FleetSubSegment['RSW_PELAGIC']]"
                         [offRegister]="true"
                         [pointsEnabled]="pointsEnabled">
      </app-fleet-segment>

      <!-- SPECIFIC -->
      <app-fleet-segment [allCapacity]="allCapacity"
                         [fleetSegment]="FleetSegment['SPECIFIC']"
                         [fleetSubSegments]="[FleetSubSegment['SPECIFIC_SCALLOPS_GTE_10M_LOA'],
                                              FleetSubSegment['SPECIFIC_GENERAL']]"
                         [offRegister]="true"
                         [pointsEnabled]="pointsEnabled">
      </app-fleet-segment>

      <!-- AQUACULTURE -->
      <app-fleet-segment [allCapacity]="allCapacity"
                         [fleetSegment]="FleetSegment['AQUACULTURE']"
                         [fleetSubSegments]="[FleetSubSegment['AQUACULTURE']]"
                         [offRegister]="true"
                         [pointsEnabled]="pointsEnabled">
      </app-fleet-segment>

      <!-- BEAM TRAWLER -->
      <app-fleet-segment [allCapacity]="allCapacity"
                         [fleetSegment]="FleetSegment['BEAM_TRAWLER']"
                         [fleetSubSegments]="[FleetSubSegment['BEAM_TRAWLER']]"
                         [offRegister]="true"
                         [pointsEnabled]="pointsEnabled">
      </app-fleet-segment>

    </mat-tab>

  </mat-tab-group>

</div>
