<div class="page readonly" [class.handset]="(isHandset$ | async)" [class.desktop]="!(isHandset$ | async)">
  <h2 style="width:100%">
    <mat-icon matListIcon alt="My Capacity" style="position: relative; top: 4px; margin-right: 8px;">toys</mat-icon>
    <span>{{ title$ | async }}</span>
  </h2>

  <!--
  <div style="font-size: small" class="margin-bottom">
    <mat-checkbox [(ngModel)]="pointsEnabled">UX Option: Points Enabled</mat-checkbox>
  </div>
  -->

  <div *ngIf="loading" class="progressContainer">
    <div class="progressText" loading-text></div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="errorMessage && !loading" class="errorBanner" fxLayoutAlign="{{ (isHandset$ | async) ? 'center center' : 'start center' }}">
    <mat-icon class="info-icon">error_outline</mat-icon>
    <div>{{ errorMessage }}</div>
  </div>

  <!-- Expiry Date Approaching Warning Bar -->
  <div *ngIf="isExpiringSoon()" class="errorBanner margin-bottom" fxLayoutAlign="{{ (isHandset$ | async) ? 'center center' : 'start center' }}">
    <mat-icon class="info-icon">error_outline</mat-icon>
    <div>You have capacity expiring soon!</div>
  </div>

  <mat-tab-group *ngIf="!errorMessage && !loading" mat-stretch-tabs [selectedIndex]="0">

    <!-- ON REGISTER -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="page">mobile_friendly</mat-icon>
        <span class="wizard-label color-primary cdk-focused">On Register</span>
      </ng-template>

      <div *ngIf="!allCapacity.onRegister.length" class="margin-top-double centered-content">
        You have no capacity on register
      </div>

      <div *ngIf="allCapacity.onRegister.length > 0">

        <!-- POLYVALENT -->
        <app-fleet-segment [allCapacity]="allCapacity"
                           [fleetSegment]="FleetSegment['POLYVALENT']"
                           [fleetSubSegments]="[FleetSubSegment['POLYVALENT_LT_18M_LOA'],
                                                FleetSubSegment['POLYVALENT_GTE_18M_LOA'],
                                                FleetSubSegment['POLYVALENT_SCALLOPS_GTE_10M_LOA'],
                                                FleetSubSegment['POLYVALENT_POTTING']]"
                           [offRegister]="false"
                           [pointsEnabled]="pointsEnabled"
                           [attr.data-fleet-segment]="'POLYVALENT'">
        </app-fleet-segment>

        <!-- RSW PELAGIC -->
        <app-fleet-segment [allCapacity]="allCapacity"
                           [fleetSegment]="FleetSegment['RSW_PELAGIC']"
                           [fleetSubSegments]="[FleetSubSegment['RSW_PELAGIC']]"
                           [offRegister]="false"
                           [pointsEnabled]="pointsEnabled"
                           [attr.data-fleet-segment]="'RSW PELAGIC'">
        </app-fleet-segment>

        <!-- SPECIFIC -->
        <app-fleet-segment [allCapacity]="allCapacity"
                           [fleetSegment]="FleetSegment['SPECIFIC']"
                           [fleetSubSegments]="[FleetSubSegment['SPECIFIC_SCALLOPS_GTE_10M_LOA'],
                                                FleetSubSegment['SPECIFIC_GENERAL']]"
                           [offRegister]="false"
                           [pointsEnabled]="pointsEnabled"
                           [attr.data-fleet-segment]="'SPECIFIC'">
        </app-fleet-segment>

        <!-- BEAM TRAWLER -->
        <app-fleet-segment [allCapacity]="allCapacity"
                           [fleetSegment]="FleetSegment['BEAM_TRAWLER']"
                           [fleetSubSegments]="[FleetSubSegment['BEAM_TRAWLER']]"
                           [offRegister]="false"
                           [pointsEnabled]="pointsEnabled"
                           [attr.data-fleet-segment]="'BEAM TRAWLER'">
        </app-fleet-segment>

        <!-- AQUACULTURE -->
        <app-fleet-segment [allCapacity]="allCapacity"
                           [fleetSegment]="FleetSegment['AQUACULTURE']"
                           [fleetSubSegments]="[FleetSubSegment['AQUACULTURE']]"
                           [offRegister]="false"
                           [pointsEnabled]="pointsEnabled"
                           [attr.data-fleet-segment]="'AQUACULTURE'">
        </app-fleet-segment>

      </div>

    </mat-tab>

    <!-- OFF REGISTER -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="page"><mat-icon>phonelink_erase</mat-icon></mat-icon>
        <span class="wizard-label color-primary">Off Register</span>
      </ng-template>

      <div *ngIf="!allCapacity.offRegister.length" class="margin-top-double centered-content">
        You have no capacity off register
      </div>

      <div *ngIf="allCapacity.offRegister.length > 0">

        <!-- POLYVALENT -->
        <app-fleet-segment [allCapacity]="allCapacity"
                           [fleetSegment]="FleetSegment['POLYVALENT']"
                           [fleetSubSegments]="[FleetSubSegment['POLYVALENT_LT_18M_LOA'],
                                                FleetSubSegment['POLYVALENT_GTE_18M_LOA'],
                                                FleetSubSegment['POLYVALENT_SCALLOPS_GTE_10M_LOA'],
                                                FleetSubSegment['POLYVALENT_POTTING']]"
                           [offRegister]="true"
                           [pointsEnabled]="pointsEnabled">
        </app-fleet-segment>

        <!-- RSW PELAGIC -->
        <app-fleet-segment [allCapacity]="allCapacity"
                           [fleetSegment]="FleetSegment['RSW_PELAGIC']"
                           [fleetSubSegments]="[FleetSubSegment['RSW_PELAGIC']]"
                           [offRegister]="true"
                           [pointsEnabled]="pointsEnabled">
        </app-fleet-segment>

        <!-- SPECIFIC -->
        <app-fleet-segment [allCapacity]="allCapacity"
                           [fleetSegment]="FleetSegment['SPECIFIC']"
                           [fleetSubSegments]="[FleetSubSegment['SPECIFIC_SCALLOPS_GTE_10M_LOA'],
                                                FleetSubSegment['SPECIFIC_GENERAL']]"
                           [offRegister]="true"
                           [pointsEnabled]="pointsEnabled">
        </app-fleet-segment>

        <!-- AQUACULTURE -->
        <app-fleet-segment [allCapacity]="allCapacity"
                           [fleetSegment]="FleetSegment['AQUACULTURE']"
                           [fleetSubSegments]="[FleetSubSegment['AQUACULTURE']]"
                           [offRegister]="true"
                           [pointsEnabled]="pointsEnabled">
        </app-fleet-segment>

        <!-- BEAM TRAWLER -->
        <app-fleet-segment [allCapacity]="allCapacity"
                           [fleetSegment]="FleetSegment['BEAM_TRAWLER']"
                           [fleetSubSegments]="[FleetSubSegment['BEAM_TRAWLER']]"
                           [offRegister]="true"
                           [pointsEnabled]="pointsEnabled">
        </app-fleet-segment>

      </div>

    </mat-tab>

  </mat-tab-group>

</div>
