<app-bottomsheet-close-icon></app-bottomsheet-close-icon>
<div class="page padding-bottom-double light-green-background dafm-green max-width-centered-content">
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
    <h1 class="margin-bottom color-primary">LOOKING FOR A COMPANY APPLICATION?</h1>
    <div>
      For security purposes, you need to be logged in on as the Company User to retrieve the Licence Application made on behalf of
      the company.
    </div>
    <div class="br">
      If you are not already logged in as the Company User, please select Log Out from the Main Menu and then re-login
      with the company Username and Password. You may then retrieve the Company Application using the
      Application Reference Number (ARN) and PIN sent to the Company email address you specified in your Licensing Information.
    </div>
    <app-divider xstyle="width: 50%"></app-divider>
  </div>
</div>
