<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" class="page" [class.handset]="(isHandset$ | async)" [class.desktop]="!(isHandset$ | async)">

  <app-main-logo [orientation]="'vertical'"></app-main-logo>

  <h2 class="no-margin-bottom">Welcome to</h2>
  <h1 class="center">{{ appComponent.title }}</h1>
  <div class="center">The Irish Government's Sea Fishing and Aquaculture Portal</div>

  <div fxLayout="row" fxLayoutGap="16px" class="margin-top-double margin-bottom-double">
    <button mat-raised-button (click)="login()">LOGIN</button>
    <button mat-raised-button (click)="register()">REGISTER</button>
  </div>

  <div fxFill class="margin-vertical">
    <!--<mat-divider></mat-divider>-->
    <app-divider></app-divider>
  </div>

  <div class="margin light-grey-background padding-left padding-right padding-bottom" [class.padding-horizontal-double]="!(isHandset$ | async)">
    <div class="wizard-label margin-top margin-bottom-double centered-content">PUBLIC SERVICES</div>
    <div fxLayout="{{ (isAtLeastMedium$ | async) ? 'row' : 'column' }}" fxLayoutAlign="center center" fxLayoutGap="{{ (isAtLeastMedium$ | async) ? '16px' : '' }}">

      <mat-card class="hoverable">
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title>
            <div>
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                <mat-icon>directions_boat</mat-icon>
                <div>Apply for a Sea Fishing Boat Licence</div>
              </div>
            </div>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="padding-bottom">
          Initiate a preliminary application and determine the conditions that must be satisfied. Fulfillment of the conditions will require registration.
        </mat-card-content>
        <mat-actions fxLayoutAlign="center center">
          <button mat-raised-button [class.fullWidth]="(isHandset$ | async)" (click)="newLicenceApplication()">
            APPLY NOW
          </button>
        </mat-actions>
      </mat-card>

      <!--
      <mat-card>
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title>
            <div>
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
                <mat-icon>mail</mat-icon>
                <div>Subscribe to Fishery Notifications</div>
              </div>
            </div>
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          Receive e-mail notifications when Fishery Management Periods are opening and closing.
        </mat-card-content>
      </mat-card>
      -->

    </div>
  </div>

</div>
<app-logobar></app-logobar>

