<div class="page" [class.handset]="(isHandset$ | async)" [class.desktop]="!(isHandset$ | async)">

  <div fxFill fxLayout="row" fxLayoutAlign="space-between start">
    <h2>
      <mat-icon matListIcon alt="My Applications" style="position: relative; top: 4px; margin-right: 8px;">library_books</mat-icon>
      <span [@fadeInOut]="'fadeIn'">My Applications</span>
    </h2>

    <div *ngIf="(isAtLeastMedium$ | async)" [@fadeInOut]="'fadeIn'" style="position: relative; top: 4px">
      <div fxLayout="'row'" fxLayoutAlign="start start" fxLayoutGap="16px">
      <button mat-raised-button
              [@fadeInOut]="'fadeIn'"
              [routerLink]="['/licence-application-wizard', LaWizardMode['NEW']]">
        NEW LICENCE APPLICATION
      </button>
      <button mat-raised-button
              [@fadeInOut]="'fadeIn'"
              [routerLink]="['/licence-application-wizard', LaWizardMode['RETRIEVE']]">
        RETRIEVE APPLICATION
      </button>
    </div>
    </div>
  </div>

  <div *ngIf="!(isAtLeastMedium$ | async)" [@fadeInOut]="'fadeIn'">

    <div style="position: relative; top: -4px" class="margin-bottom fullWidth">
      <div fxLayout="{{ (isAtLeastMedium$ | async) ? 'row' : 'column' }}" fxLayoutAlign="start start" fxLayoutGap="16px">
        <button mat-raised-button class="fullWidth doubleHeight"
                [@fadeInOut]="'fadeIn'"
                [routerLink]="['/licence-application-wizard', LaWizardMode['NEW']]">
          NEW LICENCE APPLICATION
        </button>
        <button mat-raised-button class="fullWidth doubleHeight"
                [@fadeInOut]="'fadeIn'"
                [routerLink]="['/licence-application-wizard', LaWizardMode['RETRIEVE']]">
          RETRIEVE APPLICATION
        </button>
      </div>
    </div>

    <app-divider></app-divider>

  </div>

  <app-la-applications class="margin-top"></app-la-applications>

</div>
