<div class="padding-top padding-bottom-double light-green-background dafm-green max-width">
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
    <h1 class="margin-bottom color-primary">VESSEL IDENTIFIERS & SYSTEMS</h1>
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="16px">
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div fxFlexAlign="start">
          <div class="text-x-small left card-data-header">CFR</div>
          <div class="card-data">Community Fleet Register</div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div fxFlexAlign="start">
          <div class="text-x-small card-data-header">IRCS</div>
          <div class="card-data">International Radio Call Sign</div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div fxFlexAlign="start">
          <div class="text-x-small card-data-header">Port Reg No.</div>
          <div class="card-data">Port Registration Number</div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div fxFlexAlign="start">
          <div class="text-x-small card-data-header">UVI</div>
          <div class="card-data">Unique Vessel Identifier</div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div fxFlexAlign="start">
          <div class="text-x-small card-data-header">VMS</div>
          <div class="card-data">Vessel Monitoring System</div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div fxFlexAlign="start">
          <div class="text-x-small card-data-header">ERS</div>
          <div class="card-data">Electronic Recording System</div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div fxFlexAlign="start">
          <div class="text-x-small card-data-header">AIS</div>
          <div class="card-data">Automatic Identification System</div>
        </div>
      </div>
    </div>
    <app-divider xstyle="width: 50%"></app-divider>
  </div>

</div>
