<div class="page">
  <div *ngIf="(isHandset$ | async)" class="wizard-label">Vessel Details</div>

  <div class="margin-top" fxLayout="column">

    <label id="radio-group-label">Does the vessel have a CFR number yet?</label>
    <mat-radio-group
      aria-labelledby="radio-group-label"
      class="radio-group"
      [(ngModel)]="cfrIdentified">
      <mat-radio-button class="radio-button" *ngFor="let cfrOption of cfrIdentificationOptions" [value]="cfrOption">
        {{cfrOption}}
      </mat-radio-button>
    </mat-radio-group>

    <div style="width: 400px; margin: auto" *ngIf="cfrIdentified === 'Yes' && !licenceApplication.vessel.cfr">
      <div class="margin-top">
        Please enter the vessel CFR number
        <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="16px" class="margin-top-double">
          <mat-form-field>
            <input matInput placeholder="CFR" reguired [(ngModel)]="cfr">
          </mat-form-field>
          <button mat-raised-button (click)="getVesselDetails()">GET VESSEL DETAILS</button>
        </div>
      </div>
    </div>

    <div *ngIf="cfrIdentified === 'No' || licenceApplication.vessel.cfr" class="margin-top" fxLayout="column">

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" *ngIf="cfrIdentified === 'Yes' && licenceApplication.vessel.cfr">
        <mat-form-field class="readonly-wrapper">
          <input matInput placeholder="CFR" reguired [disabled]="true" [value]="licenceApplication.vessel.cfr">
        </mat-form-field>
        <div class="hoverable underline right-aligned-small-text" fxLayoutAlign="end">
          <a (click)="onNotMyVessel()">This is not my vessel</a>
        </div>
      </div>

      <mat-form-field [class.readonly-wrapper]="readonly">
        <input matInput placeholder="Vessel Name" reguired [disabled]="readonly ? readonly : null" [value]="licenceApplication.vessel.name">
      </mat-form-field>

      <mat-form-field [class.readonly-wrapper]="readonly">
        <mat-label>Segment</mat-label>
        <mat-select [formControl]="segmentControl" required [disabled]="readonly ? true : null">
          <mat-optgroup *ngFor="let group of segmentGroups" [label]="group.name"
                        [disabled]="group.disabled">
            <mat-option *ngFor="let segment of group.segment" [value]="segment.value">
              {{ segment.viewValue }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <mat-error *ngIf="segmentControl.hasError('required')">Please choose a segment</mat-error>
        <!--<mat-hint>{{segmentControl.value?.sound}}</mat-hint>-->
      </mat-form-field>

      <mat-form-field [class.readonly-wrapper]="readonly">
        <mat-label>LOA</mat-label>
        <mat-select [formControl]="loaControl" required [disabled]="readonly ? true : null">
          <mat-option *ngFor="let loa of loas" [value]="loa.value">
            {{loa.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [class.readonly-wrapper]="readonly">
        <input matInput placeholder="Registered Length" reguired [disabled]="readonly ? readonly : null" [(ngModel)]="licenceApplication.vessel.registeredLength">
      </mat-form-field>

      <mat-form-field [class.readonly-wrapper]="readonly">
        <input matInput placeholder="Tonnage (GT)" reguired [disabled]="readonly ? readonly : null" [(ngModel)]="licenceApplication.vessel.tonnage">
      </mat-form-field>

      <mat-form-field [class.readonly-wrapper]="readonly">
        <input matInput placeholder="Engine Power (kW)" reguired [disabled]="readonly ? readonly : null" [(ngModel)]="licenceApplication.vessel.enginePower">
      </mat-form-field>

      <mat-form-field [class.readonly-wrapper]="readonly">
        <input matInput placeholder="Safety Certificate Expiry Date" reguired [disabled]="readonly ? readonly : null" [(ngModel)]="licenceApplication.vessel.safetyCertificateExpiryDate">
      </mat-form-field>

    </div>

  </div>
</div>
