.radio-group {
  display: inline;
  flex-direction: row;
  margin: 15px 0;
  left-align: left;
}

.radio-button {
  margin: 5px;
}
.radio-button:first-child {
  margin-left: 16px;
}

.right-aligned-small-text {
  font-size: small;
  justify-content: right;
}
